SDK/api/xsd/idmgr.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--THE INFORMATION AND SPECIFICATIONS IN THIS MANUAL REGARDING EXTREME NETWORKS DEVELOPER 
KIT ARE SUBJECT TO CHANGE WITHOUT NOTICE.  ALL STATEMENTS, INFORMATION, AND RECOMMENDATIONS IN THIS MANUAL
ARE PRESENTED WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED.  YOU TAKE FULL RESPONSIBILITY FOR YOUR USE
OF THE DEVELOPER KIT AND THE INFORMATION IN THIS MANUAL.
                
THE DEVELOPER KIT IS LICENSED TO YOU UNDER THE THEN-CURRENT LICENSE TERMS FOR THE  DEVELOPER KIT IN EFFECT AT 
THE TIME THE DEVELOPER KIT IS PROVIDED TO YOU BY EXTREME NETWORKS. PLEASE CONTACT EXTREME NETWORKS IF YOU DO
NOT HAVE A COPY OF THE LICENSE TERMS.  USE OF THE DEVELOPER KIT AND THIS MANUAL CONSTITUTES YOUR ACCEPTANCE 
OF THE DEVELOPER KIT LICENSE TERMS.-->

<!--
*
*  Copyright (c) Extreme Networks Inc.  2008,2009
*  All rights reserved
*
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.extremenetworks.com/XMLSchema/xos/idmgr" xmlns:common="http://www.extremenetworks.com/XMLSchema/xos/common" xmlns:idmgr="http://www.extremenetworks.com/XMLSchema/xos/idmgr" targetNamespace="http://www.extremenetworks.com/XMLSchema/xos/idmgr" version="A.B.C.D">
    <xsd:import namespace="http://www.extremenetworks.com/XMLSchema/xos/common" schemaLocation="./common.xsd"/>
    <xsd:simpleType name="LoginStatusTypes">
        <xsd:annotation>
        	<xsd:documentation>Enumeration of login status.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unknown"/>
            <xsd:enumeration value="loggedOn"/>
            <xsd:enumeration value="loggedOut"/>
            <xsd:enumeration value="na"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="AuthMethodTypes">
        <xsd:annotation>
        	<xsd:documentation>Enumeration of NetLogin authentication method.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unknown"/>
            <xsd:enumeration value="netloginDot1x"/>
            <xsd:enumeration value="netloginWeb"/>
            <xsd:enumeration value="netloginMac"/>
            <xsd:enumeration value="kerberos"/>
            <xsd:enumeration value="na"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="FeatureStatusTypes">
        <xsd:annotation>
        	<xsd:documentation>Enumeration of feature status.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unknown"/>
            <xsd:enumeration value="enabled"/>
            <xsd:enumeration value="disabled"/>
            <xsd:enumeration value="na"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="IdentityManagerEventTypes">
        <xsd:annotation>
        	<xsd:documentation>Enumeration of identity management event types </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unknown"/>
            <xsd:enumeration value="discover"/>
            <xsd:enumeration value="undiscover"/>
            <xsd:enumeration value="reauth"/>
            <xsd:enumeration value="authFailure"/>
            <xsd:enumeration value="ipAddrAdd"/>
            <xsd:enumeration value="ipAddrDelete"/>
            <xsd:enumeration value="securityViolation"/>
            <xsd:enumeration value="identityInfoUpdate"/>
            <xsd:enumeration value="identityRoleUpdate"/>
            <xsd:enumeration value="na"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="AddressTypes">
        <xsd:annotation>
        	<xsd:documentation>Enumeration of Address types supported by Identity Manager.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unknown"/>
            <xsd:enumeration value="mac"/>
            <xsd:enumeration value="ip"/>
            <xsd:enumeration value="na"/>
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="DatasetTypes">
        <xsd:annotation>
        	<xsd:documentation>Enumeration of identity information data set type.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unknown"/>
            <xsd:enumeration value="active"/>
            <xsd:enumeration value="event"/>
            <xsd:enumeration value="na"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="actionTypes">
        <xsd:annotation>
        	<xsd:documentation>Enumeration of feature status.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unknown"/>
            <xsd:enumeration value="create"/>
            <xsd:enumeration value="configure"/>
            <xsd:enumeration value="unconfigure"/>
            <xsd:enumeration value="delete"/>
            <xsd:enumeration value="na"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="connStatusTypes">
        <xsd:annotation>
        	<xsd:documentation>Enumeration of connection status types.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unknown"/>
            <xsd:enumeration value="notActive"/>
            <xsd:enumeration value="Active"/>
            <xsd:enumeration value="ipAddressUnresolved"/>
            <xsd:enumeration value="na"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="securityMechanismTypes">
        <xsd:annotation>
        	<xsd:documentation>Enumeration of security mechanism types.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unknown"/>
            <xsd:enumeration value="plainText"/>
            <xsd:enumeration value="SASLDigestMD5"/>
            <xsd:enumeration value="SSL"/>
            <xsd:enumeration value="na"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ListTypes">
        <xsd:annotation>
        	<xsd:documentation>Enumeration of List entry types supported by Identity Manager.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="greylist"/>
            <xsd:enumeration value="blacklist"/>
            <xsd:enumeration value="whitelist"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="ListNames">
        <xsd:annotation>
        	<xsd:documentation>Enumeration of List names supported by Identity Manager.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="greylist"/>
            <xsd:enumeration value="blacklist"/>
            <xsd:enumeration value="whitelist"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ListEntryTypes">
        <xsd:annotation>
        	<xsd:documentation>Enumeration of Blacklist/Whitelist entry types supported by Identity Manager.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unknown"/>
            <xsd:enumeration value="mac"/>
            <xsd:enumeration value="ip"/>
            <xsd:enumeration value="username"/>
            <xsd:enumeration value="na"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="GreyListEntryTypes">
        <xsd:annotation>
        	<xsd:documentation>Enumeration of Greylist entry types supported by Identity Manager.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unknown"/>
            <xsd:enumeration value="username"/>
            <xsd:enumeration value="na"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- User Identity Data Object XML Definition Start -->
    <xsd:complexType name="UserIdentityData">
        <xsd:annotation>
            <xsd:documentation>
                User identity information. Identity information for an active user or an
                identity management event.
                <br/>
                Note: This object is used both for quering active identity data as well as event data. The datasetType field is the mandatory filtering parameter to be set. For querying active user data, datasetType field should be set to "active" and for querying event data this field should be set to "event".
            ; Version : EXOS 12.4, Access : READ, INDEX </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:ExosBase">
                <xsd:sequence>
                    <xsd:element name="datasetType" type="DatasetTypes" minOccurs="1" >
                        <xsd:annotation>
                            <xsd:documentation>Data set type. Data set type from which information is populated in this object. For querying active user data this field should be set to "active" and for querying the event data this field should be set to "event". This field is a mandatory field for doing query. For "event" dataset type, only modification timestamp based query is supported. userName, domain and portList can not be specified in the queries for "event" dataset.
                            ; Version : EXOS 12.4, Access : READ, INDEX</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="userName" type="common:StringLen64" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation>Name of the user. The active data can be queried for a given userName and domain combination. For protocols which do not use domain (i.e., Netlogin MAC), only userName can be used to query the data for given user. This field can be specified only with domain and datasetType field for queries.; Version : EXOS 12.4, Access : READ, INDEX</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="domain" type="common:StringLen64" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation>Domain name. Kerberos realm or domain name provided by Dot1x. The active data can be queried for a given user and domain name combination. For protocols which do not use domain name (i.e., Netlogin MAC), this field can be left empty. This field can only be speficied with userName field and  datasetType fields. Query based only on domain is not supported.
                            ; Version : EXOS 12.4, Access : READ, INDEX</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="roleName" type="common:StringLen32" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation>Role name. The user's role as determined by Identity Manager based on the user's attributes. ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="portList" type="common:StringLen16" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>List of ports on which user is logged in. This field can be sent as part of query to get the user identity information about identities only on the given portlist. This field can be specified only with datasetType field for queries.
                            ; Version : EXOS 12.4, Access : READ, INDEX</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="modificationTimestamp" type="common:int64_t" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> Timestamp of last modification of record. This is the number of milliseconds since the epoch. <br/> This field can be sent in the query as to get the information about the identities modified or events generated after the given time and the query time. This field can be specified only with datasetType field for queries.; Version : EXOS 12.4, Access : READ,INDEX</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="eventType" type="IdentityManagerEventTypes" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation> Identity management event type. For
                            active user identity data, this field
                            is set to "na". For identity events, it is set to
                            appropriate event type.
                            ; Version : EXOS 12.4, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="authProtocolsUsed" type="common:StringLen64" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation>List of authentication protocols used by the user for login.
                            ; Version : EXOS 12.4, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="numOfLocations" type="common:uint32_t" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> Number of locations on which user is currently logged on.
                            ; Version : EXOS 12.4, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="creationTimestamp" type="common:int64_t" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Record creation timestamp. This is the number of milliseconds since the epoch.; Version : EXOS 12.4, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="location" type="Location" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>This object represents detailed information about a login instance including location information i.e. port instance. ; Version : EXOS 12.4, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                </xsd:sequence>
                <xsd:attribute ref="common:operation"/>
                <xsd:anyAttribute namespace="##any" processContents="lax"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <!-- User Identity Data Object XML Definition End -->

    <!-- Location Object XML Definition Start -->
    <xsd:complexType name="Location">
        <xsd:annotation>
            <xsd:documentation>Detailed information about the login instance including port
                and MAC address information.
            ; Version : EXOS 12.4, Access : READ</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="port" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Port Instance used for login; Version : EXOS 12.4, Access : READ, INDEX</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="portDisplayString" type="common:StringLen32" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation> Display string associated with Port.
                    ; Version : EXOS 12.4, Access : READ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="macAddress" type="common:StringLen32" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>MAC Address used for login.; Version : EXOS 12.4, Access : READ, INDEX </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="roleName" type="common:StringLen32" minOccurs="0" >
                <xsd:annotation>
                        <xsd:documentation>The user's role in this location as determined by Identity Manager based on the user's attributes. ; Version : EXOS 12.7, Access : READ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lldpCapabilityInfo" type="common:uint32_t" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Capability information for LLDP device(s).  This is a bitmap and more than one bits can be set. Following are the details:
                            bit 0: OTHER,
                            bit 1: REPEATER,
                            bit 2: BRIDGE,
                            bit 3: WLAN_ACCESS_PT,
                            bit 4: ROUTER,
                            bit 5: GEN_TEL_PHONE,
                            bit 6: DOCSIS_CABLE_SER,
                            bit 7: STATION_ONLY,
                            bit 8-31: RSVD,
                    ; Version : EXOS 12.4, Access : READ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lldpModelName" type="common:StringLen32" minOccurs="0" >
                <xsd:annotation>
                        <xsd:documentation>LLDP Model Name : The Model/Type of the LLDP device detected at this location.; Version : EXOS 12.7, Access : READ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lldpManufacturer" type="common:StringLen32" minOccurs="0" >
                <xsd:annotation>
                        <xsd:documentation>LLDP device Manufacturer : The vendor name of the LLDP device detected at this location. ; Version : EXOS 12.7, Access : READ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="lldpSysDescription" type="common:StringLen256" minOccurs="0" >
                <xsd:annotation>
                        <xsd:documentation>LLDP device System Description : System description string advertised by the LLDP device detected at this location. ; Version : EXOS 15.1, Access : READ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="netBiosHostName" type="common:StringLen32" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Netbios hostname for Kerberos authenticated users. All
                    login instances may not have this information.
                    ; Version : EXOS 12.4, Access : READ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kerberosSnooping" type="common:TrueFalse" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Flag to indicate Kerberos authenticated
                    login instance. ; Version : EXOS 12.4, Access : READ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="authMethod" type="idmgr:AuthMethodTypes" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>NetLogin authentication method.; Version : EXOS 12.4, Access : READ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="securityProfile" type="common:uint32_t" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Bitmap representing security features enabled on the
                    port. Following are the details:
                            bit 0: ARP validation,
                            bit 1: DoS protection,
                            bit 2: Gratuitous ARP protection,
                            bit 3: Source IP lock down,
                            bit 4: DHCP snooping,
                            bit 5-bit31: Reserved for future usage
                     ; Version : EXOS 12.4, Access : READ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="securityViolations" type="common:uint32_t" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation> Bitmap representing security violations detected on
                    port used by user to logon. Following are the details:
                        bit 0: ARP validation violation,
                        bit 1: DoS violation,
                        bit 2: Gratuitous ARP violation,
                        bit 3: Source IP locked down,
                        bit 4: Rogue DHCP server detected,
                        bit 5-bit31: Reserved for future usage

                    ; Version : EXOS 12.4, Access : READ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="logonStatus" type="idmgr:LoginStatusTypes" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Current login status of the user on this
                    location.
                    ; Version : EXOS 12.4, Access : READ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="logonTime" type="common:int64_t" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Timestamp of logon on this location. This is the number of milliseconds since the epoch.; Version : EXOS 12.4, Access : READ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="logOutTime" type="common:int64_t" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Timestamp of logout on this location. This is the number of milliseconds since the epoch. If the user is not logged out the value is set to zero.
                    ; Version : EXOS 12.4, Access : READ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="authFailTime" type="common:int64_t" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation> Timestamp of unsuccessful authentication. This is the number of milliseconds since the epoch. If the authentication is successful, value is set to zero.
                    ; Version : EXOS 12.4, Access : READ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="vlanInfo" type="IdMgrVlanInfo" minOccurs="0">
                <xsd:annotation>
                     <xsd:documentation>VLANs and associated IP address(es) detail. ; Version : EXOS 12.4, Access : READ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="modificationTimestamp" type="common:int64_t" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Timestamp of record modification. This is the number of milliseconds since the epoch.
                    ; Version : EXOS 12.4, Access : READ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute ref="common:operation"/>
        <xsd:anyAttribute namespace="##any" processContents="lax"/>
    </xsd:complexType>
    <!-- Location Object XML Definition End -->

    <!-- IdMgrVlan Object XML Definition Start -->
    <xsd:complexType name="IdMgrVlan">
        <xsd:annotation>
            <xsd:documentation>VLAN information. This object is used to keep the VLAN and associated IP address information.; Version : EXOS 12.4, Access : READ</xsd:documentation>
        </xsd:annotation>
            <xsd:sequence>
            <xsd:element name="name" type="common:StringLen32" minOccurs="0">
                <xsd:annotation>
                        <xsd:documentation> Vlan Name.; Version : EXOS 12.4, Access : READ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ipAddress" type="common:IPAddress" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                        <xsd:documentation>IP address used; Version : EXOS 12.4, Access : READ</xsd:documentation>
                    </xsd:annotation>
            </xsd:element>
            <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute ref="common:operation"/>
            <xsd:anyAttribute namespace="##any" processContents="lax"/>
    </xsd:complexType>
    <!-- IdMgrVlan Object XML Definition End -->

    <!-- IdMgrVlanInfo Object XML Definition Start -->
    <xsd:complexType name="IdMgrVlanInfo">
        <xsd:annotation>
            <xsd:documentation>VLAN information. This object is used to keep information about all the VLAN and associated IP address information.; Version : EXOS 12.4, Access : READ</xsd:documentation>
        </xsd:annotation>
            <xsd:sequence>
                <xsd:element name="vlan" type="IdMgrVlan" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                            <xsd:documentation> Vlan ; Version : EXOS 12.4, Access : READ</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            	<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
            	<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
            </xsd:sequence>
        <xsd:attribute ref="common:operation"/>
        <xsd:anyAttribute namespace="##any" processContents="lax"/>
    </xsd:complexType>
    <!-- IdMgrVlanInfo Object XML Definition End -->



    <!-- IdentityManagerConfig Object XML Definition Start -->
    <xsd:complexType name="IdentityManagerConfig">
        <xsd:annotation>
            <xsd:documentation>
            Represents configuration information for identity management feature. All configuration parameter for identity management feature can be accessed or set using this object.
            ; Version : EXOS 12.4, Access : READ, WRITE</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:ExosBase">
                <xsd:sequence>
                    <xsd:element name="featureStatus" type="FeatureStatusTypes" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> Identity management feature status.
                            ; Version : EXOS 12.4, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="maxIdDatabaseSize" type="common:uint16_t" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> Maximum identity database size in kilo bytes. The valid range is from 64 kilobytes to 49152 kilobytes. The default value is 512 kilobytes.
                            ; Version : EXOS 12.4, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="expiredEntryTimeout" type="common:uint16_t" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> Entry expiry age out time value in seconds. The valid range is from 60 seconds to 1800 seconds. By default the value is set to 180 seconds.
                            ; Version : EXOS 12.4, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="effectiveExpiredEntryTimeout" type="common:uint16_t" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> Internally adjusted entries expiry age out time.
                            Expired entry timeout  is internally adjusted  for
                            effective memory management.
                            ; Version : EXOS 12.4, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idMgmtEnabledPorts" type="common:StringLen32" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> List of ports on which identity management is enabled or required to be enabled (for set operation).
                            ; Version : EXOS 12.4, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fdbDetectionStatus" type="FeatureStatusTypes" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> Identity management FDB detection status.
                            ; Version : EXOS 15.2, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idMgmtFdbDisabledPorts" type="common:StringLen32" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> List of ports on which identity management FDB detection is disabled or required to be enabled (for set operation).
                            ; Version : EXOS 15.2, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="iparpDetectionStatus" type="FeatureStatusTypes" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> Identity management IPARP detection status.
                            ; Version : EXOS 15.2, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idMgmtIpArpDisabledPorts" type="common:StringLen32" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> List of ports on which identity management IPARP detection is disabled or required to be enabled (for set operation).
                            ; Version : EXOS 15.2, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ipSecurityDetectionStatus" type="FeatureStatusTypes" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> Identity management IP Security detection status.
                            ; Version : EXOS 15.2, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idMgmtIpSecDisabledPorts" type="common:StringLen32" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> List of ports on which identity management IP Security detection is disabled or required to be enabled (for set operation).
                            ; Version : EXOS 15.2, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kerberosDetectionStatus" type="FeatureStatusTypes" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> Identity management Kerberos detection status.
                            ; Version : EXOS 15.2, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idMgmtKerberosDisabledPorts" type="common:StringLen32" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> List of ports on which identity management Kerberos detection is disabled or required to be enabled (for set operation).
                            ; Version : EXOS 15.2, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="lldpDetectionStatus" type="FeatureStatusTypes" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> Identity management LLDP detection status.
                            ; Version : EXOS 15.2, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idMgmtLldpDisabledPorts" type="common:StringLen32" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> List of ports on which identity management LLDP detection is disabled or required to be enabled (for set operation).
                            ; Version : EXOS 15.2, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="netloginDetectionStatus" type="FeatureStatusTypes" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> Identity management Netlogin detection status.
                            ; Version : EXOS 15.2, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idMgmtNetloginDisabledPorts" type="common:StringLen32" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> List of ports on which identity management Netlogin detection is disabled or required to be enabled (for set operation).
                            ; Version : EXOS 15.2, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idMgmtRoleBasedVLANEnabledPorts" type="common:StringLen32" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> List of ports on which identity management Role Based VLAN feature is enabled.
                            ; Version : EXOS 15.4, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="databaseModificationTime" type="common:int64_t" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> Identity database modification time. This is the number of milliseconds since the epoch.; Version : EXOS 12.4, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="snmpTrapEnabled" type="common:TrueFalse" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> SNMP Trap generation setting.
                            ; Version : EXOS 12.4, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                   <xsd:element name="accesslistSrcAddressType" type="AddressTypes" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> This specifies the source address type 
                            to be used for ACLs installed by Identity Manager. The default value is mac.
                            ; Version : EXOS 12.6, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                  
                    <xsd:element name="matchCriteriaInherit" type="common:TrueFalse" minOccurs="0">
                         <xsd:annotation>
                             <xsd:documentation> Match Criteria Inheritance.
                             ; Version : EXOS 15.2, Access : READ, WRITE</xsd:documentation>
                         </xsd:annotation>
                    </xsd:element>
                   
                    <xsd:element name="action" type="actionTypes" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> action - create/configure/unconfigure
                            ; Version : EXOS 12.4, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <!--  Kerberos Snooping Configuration details -->

                    <xsd:element name="kerberosAgeOutTime" type="common:uint16_t" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> Kerberos login sessions aging time out
                            value. This value is in minutes. By default, this value is set to 480 minutes (8 hours).
                            ; Version : EXOS 12.4, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="kerberosForceAgeOutTime" type="common:uint16_t" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> Kerberos login sessions force aging time out value. 
                            This value is in minutes. By default, the force aging is disabled and 
                            this value is set to zero.
                            ; Version : EXOS 12.6, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    
<!--  LDAP Configuration - deprecated - Included here just for use by older Ridgeline -->
                  <xsd:element name="baseDN" type="common:StringLen128" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation>LDAP domain name; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>

                  <xsd:element name="bindCredential" type="common:StringLen128" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation>name of user having access to directory server; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>

                  <xsd:element name="encrypted" type="common:TrueFalse" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation>use encryption for password; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>

                  <xsd:element name="password" type="common:StringLen32" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation>password; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>

                  <xsd:element name="netloginDot1xEnabled" type="common:TrueFalse" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation>dot1x users permissions; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>

                  <xsd:element name="netloginMacEnabled" type="common:TrueFalse" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation>mac users permissions; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>

                  <xsd:element name="netloginWebEnabled" type="common:TrueFalse" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation>web users permissions; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  
<!--  LDAP Configuration - deprecated - Included here just for use by older Ridgeline -->

                    <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                </xsd:sequence>
            <xsd:attribute ref="common:operation"/>
                <xsd:anyAttribute namespace="##any" processContents="lax"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <!-- IdentityManagerConfig Object XML Definition End -->

    <xsd:complexType name="KerberosServer">
        <xsd:annotation>
            <xsd:documentation>
            Represents configuration information for Kerberos Servers.
            ; Version : EXOS 12.4, Access : READ, WRITE, CREATE, DELETE</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:ExosBase">
             <xsd:sequence>
                    <xsd:element name="ipAddress" type="common:IPAddress" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation> Kerberos server's IP address. ; Version : EXOS 12.4, Access : READ, INDEX, WRITE, CREATE, DELETE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute ref="common:operation"/>
            <xsd:anyAttribute namespace="##any" processContents="lax"/>
        </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <!-- KerberosServer Object XML Definition End -->

    <xsd:complexType name="DomainConfig">
        <xsd:annotation>
            <xsd:documentation>
            Represents configuration information for Domains.
            ; Version : EXOS 15.2, Access : READ, WRITE, CREATE, DELETE</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:ExosBase">
             <xsd:sequence>

                  <xsd:element name="domain" type="common:StringLen64" minOccurs="1">
                    <xsd:annotation>
                      <xsd:documentation>Domain name; Version : EXOS 15.2, Access : INDEX, READ, WRITE</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>

                  <xsd:element name="isDefault" type="common:TrueFalse" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation>Type of domain. If true, the domain is the default domain.; Version : EXOS 15.2, Access : READ, WRITE</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  
                    <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute ref="common:operation"/>
            <xsd:anyAttribute namespace="##any" processContents="lax"/>
        </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
<!-- DomainConfig Object XML Definition End -->

<!-- LDAPConfig Object XML Definition Start -->
    <xsd:complexType name="LdapConfig">
        <xsd:annotation>
            <xsd:documentation>
            Represents configuration information for LDAP.
            ; Version : EXOS 15.2, Access : READ, WRITE, CREATE, DELETE</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:ExosBase">
             <xsd:sequence>

                  <xsd:element name="domain" type="common:StringLen64" minOccurs="1">
                    <xsd:annotation>
                      <xsd:documentation>Domain name; Version : EXOS 15.2, Access : INDEX, READ, WRITE</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>

                  <xsd:element name="baseDN" type="common:StringLen128" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation>LDAP base DN under which the users should be searched; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>

                  <xsd:element name="bindCredential" type="common:StringLen128" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation>name of user having access to directory server; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>

                  <xsd:element name="encrypted" type="common:TrueFalse" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation>use encryption for password; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>

                  <xsd:element name="password" type="common:StringLen32" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation>password; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>

                  <xsd:element name="netloginDot1xEnabled" type="common:TrueFalse" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation>dot1x users permissions; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>

                  <xsd:element name="netloginMacEnabled" type="common:TrueFalse" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation>mac users permissions; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>

                  <xsd:element name="netloginWebEnabled" type="common:TrueFalse" minOccurs="0">
                    <xsd:annotation>
                      <xsd:documentation>web users permissions; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>

                  <xsd:element name="hierarchicalSearchOid" type="common:StringLen256" minOccurs="1">
                    <xsd:annotation>
                      <xsd:documentation>OID to perform hierarchical search for groups, as required by Directory Server. Default value is:1.2.840.113556.1.4.1941 (i.e. LDAP_MATCHING_RULE_IN_CHAIN). This parameter is set to 0 if Directory Server does not require any OID to perform hierarchical searches.
                      ; Version : EXOS 15.3, Access : READ, WRITE</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>

                    <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute ref="common:operation"/>
            <xsd:anyAttribute namespace="##any" processContents="lax"/>
        </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
<!-- LDAPConfig Object XML Definition End -->

<!-- LDAPServerConfig Object XML Definition Start -->
  <xsd:complexType name="LdapServerConfig">
    <xsd:annotation>
      <xsd:documentation>
        information about the LDAP Servers COnfigured
      ; Version : EXOS 12.5, Access : READ, WRITE, CREATE, DELETE</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="common:ExosBase">
        <xsd:sequence>

          <xsd:element name="domain" type="common:StringLen64" minOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Domain name; Version : EXOS 15.2, Access : INDEX, READ, WRITE</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="serverNo" type="common:uint16_t" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>sequence no. of the ldap server; Version : EXOS 12.5, Access : READ, INDEX</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="serverIp" type="common:IPAddress" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>ip address of the ldap server; Version : EXOS 12.5, Access : READ, WRITE, INDEX, CREATE, DELETE</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="serverHostName" type="common:StringLen256" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>host name of the ldap server; Version : EXOS 12.5, Access : READ, WRITE, INDEX, CREATE, DELETE</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="serverPort" type="common:uint16_t" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>port over which ldap client will talk to directory server; Version : EXOS 12.5, Access : READ, WRITE, INDEX</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="clientIp" type="common:IPAddress" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>ip address of ldap client; Version : EXOS 12.5, Access : READ, WRITE, INDEX</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="vrName" type="common:StringLen32" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>name of virtual router; Version : EXOS 12.5, Access : READ, WRITE, INDEX</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="securityMechanism" type="securityMechanismTypes" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Security Mechanism of the LDAP connection to this server; Version : EXOS 12.5, Access : READ, WRITE, INDEX</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="connStatus" type="connStatusTypes" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>connection status of server; Version : EXOS 12.5, Access : READ</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="requestsStat" type="common:uint32_t" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>requests sent to server from switch; Version : EXOS 12.5, Access : READ</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="responsesStat" type="common:uint32_t" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>responses sent to switch from server; Version : EXOS 12.5, Access : READ</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="errorsStat" type="common:uint32_t" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>error Statistics; Version : EXOS 12.5, Access : READ</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute ref="common:operation"/>
        <xsd:anyAttribute namespace="##any" processContents="lax"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- LDAPServerConfig Object XML Definition End -->

<!-- UserRole Object XML Definition Start -->
  <xsd:complexType name="UserRole">
    <xsd:annotation>
      <xsd:documentation>
        Detailed information about the user created roles
      ; Version : EXOS 12.5, Access : READ, WRITE, CREATE, DELETE</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="common:ExosBase">
        <xsd:sequence>

          <xsd:element name="roleName" type="common:StringLen32" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Role Name given by user; Version : EXOS 12.5, Access : READ, INDEX, WRITE, CREATE, DELETE</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="matchCritera" type="common:StringLen1K" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Match Criteria to map this role to a detected user in Network; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="isDefaultRole" type="common:TrueFalse" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Type of role. If true, the role is default; Version : EXOS 12.5, Access : READ</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="priority" type="common:uint8_t" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>priority assigned to the role; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
          <xsd:element name="vlanTag" type="common:uint32_t" minOccurs="1" maxOccurs="4094">
            <xsd:annotation>
              <xsd:documentation>VLAN Tag assigned to the role; Version : EXOS 15.4, Access : READ, WRITE</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          
          <xsd:element name="vrName" type="common:StringLen32" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Virtual Router assigned to the role; Version : EXOS 15.4, Access : READ, WRITE</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="policyInfo" type="IdMgrPolicyInfo" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Related Policies to this role. ; Version : EXOS 12.5, Access : READ, WRITE, DELETE</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="childInfo" type="IdMgrChildInfo" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>name of child roles; Version : EXOS 12.5, Access : READ, WRITE, DELETE</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="noOfIdentities" type="common:uint16_t" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>number of identities assigned to the role; Version : EXOS 12.5, Access : READ</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="identityInfo" type="IdMgrIdentityInfo" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Related Identities to this role. ; Version : EXOS 12.5, Access : READ</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="action" type="actionTypes" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>
                action - create/configure/unconfigure
              ; Version : EXOS 12.4, Access : READ, WRITE</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute ref="common:operation"/>
        <xsd:anyAttribute namespace="##any" processContents="lax"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- UserRole Object XML Definition End -->

  <!-- IdMgrPolicy Object XML Definition Start -->
  <xsd:complexType name="IdMgrPolicy">
    <xsd:annotation>
      <xsd:documentation>Policy information. This object is used to keep the policy information of a role.; Version : EXOS 12.5, Access : READ</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="policyName" type="common:StringLen32" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Policy Name.; Version : EXOS 12.5, Access : READ, WRITE, DELETE</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ruleName" type="common:StringLen32" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Rule Name.; Version : EXOS 12.5, Access : READ, WRITE, DELETE</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="order" type="common:uint32_t" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Order of this policy/rule (default order 8).; Version : EXOS 15.2, Access : READ, WRITE</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
      <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute ref="common:operation"/>
    <xsd:anyAttribute namespace="##any" processContents="lax"/>
  </xsd:complexType>
  <!-- IdMgrPolicy Object XML Definition End -->

  <!-- IdMgrPolicyInfo Object XML Definition Start -->
  <xsd:complexType name="IdMgrPolicyInfo">
    <xsd:annotation>
      <xsd:documentation>Policy information. This object is used to keep information about all the policies associated with a role.					; Version : EXOS 12.5, Access : READ</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="policy" type="IdMgrPolicy" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation> Policy ; Version : EXOS 12.5, Access : READ</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
      <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute ref="common:operation"/>
    <xsd:anyAttribute namespace="##any" processContents="lax"/>
  </xsd:complexType>
  <!-- IdMgrPolicyInfo Object XML Definition End -->

  <!-- IdMgrChild Object XML Definition Start -->
  <xsd:complexType name="IdMgrChild">
    <xsd:annotation>
      <xsd:documentation>Child information. This object is used to keep the child information of a role.; Version : EXOS 12.5, Access : READ</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="childRoleName" type="common:StringLen32" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Child Name.; Version : EXOS 12.5, Access : READ</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
      <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute ref="common:operation"/>
    <xsd:anyAttribute namespace="##any" processContents="lax"/>
  </xsd:complexType>
  <!-- IdMgrChild Object XML Definition End -->

  <!-- IdMgrChildInfo Object XML Definition Start -->
  <xsd:complexType name="IdMgrChildInfo">
    <xsd:annotation>
      <xsd:documentation>Child information. This object is used to keep information about all the Child Roles associated with a role.			 		; Version : EXOS 12.5, Access : READ</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="child" type="IdMgrChild" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation> Child ; Version : EXOS 12.5, Access : READ</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
      <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute ref="common:operation"/>
    <xsd:anyAttribute namespace="##any" processContents="lax"/>
  </xsd:complexType>
  <!-- IdMgrChildInfo Object XML Definition End -->

 <!-- IdMgrIdentity Object XML Definition Start -->
  <xsd:complexType name="IdMgrIdentity">
    <xsd:annotation>
      <xsd:documentation>Role Identity information.; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="userName" type="common:StringLen32" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>User Name.; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="domain" type="common:StringLen32" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Domain Name.; Version : EXOS 12.7, Access : READ, WRITE</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="macAddress" type="common:StringLen32" minOccurs="0">
        <xsd:annotation>
            <xsd:documentation>MAC Address used for login.; Version : EXOS 12.7, Access : READ, WRITE</xsd:documentation>
        </xsd:annotation> 
      </xsd:element>
      <xsd:element name="port" type="xsd:string" minOccurs="0">
        <xsd:annotation>
            <xsd:documentation>Location Port instance.; Version : EXOS 12.7, Access : READ, WRITE</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ipAddress" type="common:IPAddress" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
            <xsd:documentation>Recent IP address detected at this location.; Version : EXOS 12.7, Access : READ, WRITE</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
      <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute ref="common:operation"/>
    <xsd:anyAttribute namespace="##any" processContents="lax"/>
  </xsd:complexType>
  <!-- IdMgrIdentity Object XML Definition End -->

 <!-- IdMgrIdentityInfo Object XML Definition Start -->
  <xsd:complexType name="IdMgrIdentityInfo">
    <xsd:annotation>
      <xsd:documentation>
         Role Identities information. This object is used to keep information about all the Role Identities associated with a role.
      ; Version : EXOS 12.5, Access : READ</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="identity" type="IdMgrIdentity" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation> Identity ; Version : EXOS 12.5, Access : READ</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
      <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute ref="common:operation"/>
    <xsd:anyAttribute namespace="##any" processContents="lax"/>
  </xsd:complexType>
  <!-- IdMgrIdentityInfo Object XML Definition End -->

<!-- GreyListEntry Object XML Definition Start -->
  <xsd:complexType name="GreyListEntry">
    <xsd:annotation>
      <xsd:documentation>
        Detailed information about the Grey list entries
      ; Version : EXOS 15.1.2, Access : READ, WRITE, CREATE, DELETE</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="common:ExosBase">
        <xsd:sequence>
       <xsd:element name="EntryIndex" type="common:uint32_t" minOccurs="1">
          <xsd:annotation>
              <xsd:documentation> 
                 System generated index for the Grey list entries.
              ; Version : EXOS 15.1.2, Access : READ, WRITE, CREATE, INDEX</xsd:documentation>
          </xsd:annotation>
      </xsd:element>
        <xsd:element name="EntryType" type="GreyListEntryTypes" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>List Entry type.; Version : EXOS 15.1.2, Access : READ, WRITE, CREATE, DELETE, INDEX</xsd:documentation>
          </xsd:annotation>
      </xsd:element>
        <xsd:element name="EntryValue" type="common:StringLen128" minOccurs="1">
            <xsd:annotation>
                <xsd:documentation>List Entry type value.; Version : EXOS 15.1.2, Access : READ, WRITE, CREATE, DELETE</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
        <xsd:element name="action" type="actionTypes" minOccurs="0">
            <xsd:annotation>
                  <xsd:documentation>action - create/configure/unconfigure/delete; Version : EXOS 15.1.2, Access : READ, WRITE</xsd:documentation>
             </xsd:annotation>
         </xsd:element>
          <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute ref="common:operation"/>
        <xsd:anyAttribute namespace="##any" processContents="lax"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- GreyListEntry Object XML Definition End -->

<!-- BlackListEntry Object XML Definition Start -->
  <xsd:complexType name="BlackListEntry">
    <xsd:annotation>
      <xsd:documentation>
        Detailed information about the Black list entries
      ; Version : EXOS 12.7, Access : READ, WRITE, CREATE, DELETE</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="common:ExosBase">
        <xsd:sequence>
       <xsd:element name="EntryIndex" type="common:uint32_t" minOccurs="1">
          <xsd:annotation>
              <xsd:documentation> 
                 System generated index for the Black list entries.
              ; Version : EXOS 12.7, Access : READ, WRITE, CREATE, INDEX</xsd:documentation>
          </xsd:annotation>
      </xsd:element>
        <xsd:element name="EntryType" type="ListEntryTypes" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>List Entry type.; Version : EXOS 12.7, Access : READ, WRITE, CREATE, DELETE, INDEX</xsd:documentation>
          </xsd:annotation>
      </xsd:element>
        <xsd:element name="EntryValue" type="common:StringLen128" minOccurs="0">
            <xsd:annotation>
                <xsd:documentation>List Entry type value.; Version : EXOS 12.7, Access : READ, WRITE, CREATE, DELETE</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
        <xsd:element name="action" type="actionTypes" minOccurs="0">
            <xsd:annotation>
                  <xsd:documentation>action - create/configure/unconfigure/delete; Version : EXOS 12.7, Access : READ, WRITE</xsd:documentation>
             </xsd:annotation>
         </xsd:element>
          <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute ref="common:operation"/>
        <xsd:anyAttribute namespace="##any" processContents="lax"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- BlackListEntry Object XML Definition End -->

<!-- WhiteListEntry Object XML Definition Start -->
  <xsd:complexType name="WhiteListEntry">
    <xsd:annotation>
      <xsd:documentation>
        Detailed information about the Black list entries
      ; Version : EXOS 12.7, Access : READ, WRITE, CREATE, DELETE</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="common:ExosBase">
        <xsd:sequence>
       <xsd:element name="EntryIndex" type="common:uint32_t" minOccurs="1">
          <xsd:annotation>
              <xsd:documentation> 
                 System generated index for the White list entries.
              ; Version : EXOS 12.7, Access : READ, WRITE, CREATE, INDEX</xsd:documentation>
          </xsd:annotation>
      </xsd:element>
        <xsd:element name="EntryType" type="ListEntryTypes" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>List Entry type.; Version : EXOS 12.7, Access : READ, WRITE, CREATE, DELETE, INDEX</xsd:documentation>
          </xsd:annotation>
      </xsd:element>
        <xsd:element name="EntryValue" type="common:StringLen128" minOccurs="0">
            <xsd:annotation>
                <xsd:documentation>List Entry type value.; Version : EXOS 12.7, Access : READ, WRITE, CREATE, DELETE</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
        <xsd:element name="action" type="actionTypes" minOccurs="0">
            <xsd:annotation>
                  <xsd:documentation>action - create/configure/unconfigure/delete; Version : EXOS 12.7, Access : READ, WRITE</xsd:documentation>
             </xsd:annotation>
         </xsd:element>
          <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute ref="common:operation"/>
        <xsd:anyAttribute namespace="##any" processContents="lax"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- WhiteListEntry Object XML Definition End -->

<!-- RefreshUserRole Object XML Definition Start -->
  <xsd:complexType name="RefreshUserRole">
    <xsd:annotation>
      <xsd:documentation>
        Refresh user identity
      ; Version : EXOS 12.7, Access : WRITE</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="common:ExosBase">
        <xsd:sequence>

          <xsd:element name="userName" type="common:StringLen32" minOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Identity's User Name to be refreshed given by user; Version : EXOS 12.7, Access : WRITE</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="domainName" type="common:StringLen64" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Domain Name of an identity given by user; Version : EXOS 12.7, Access : WRITE</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

          <xsd:element name="roleName" type="common:StringLen32" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Role Name given by user; Version : EXOS 12.7, Access : WRITE</xsd:documentation>
            </xsd:annotation>
          </xsd:element>


          <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute ref="common:operation"/>
        <xsd:anyAttribute namespace="##any" processContents="lax"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- RefreshUserRole Object XML Definition End -->

<!-- ListConfig Object XML Definition Start -->
  <xsd:complexType name="ListConfig">
    <xsd:annotation>
      <xsd:documentation>
        Use this object to perform delete action on all entries of a particular list type.
      ; Version : EXOS 12.7, Access : WRITE</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="common:ExosBase">
        <xsd:sequence>
        <xsd:element name="ListType" type="ListTypes" minOccurs="1">
            <xsd:annotation>
              <xsd:documentation>List Entry type.; Version : EXOS 12.7, Access : WRITE</xsd:documentation>
          </xsd:annotation>
      </xsd:element>
      <xsd:element name="action" type="actionTypes" minOccurs="1">
          <xsd:annotation>
                 <xsd:documentation>action - create/configure/unconfigure/delete; Version : EXOS 12.7, Access : WRITE</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute ref="common:operation"/>
        <xsd:anyAttribute namespace="##any" processContents="lax"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ListConfig Object XML Definition End -->

<!-- ListPrecedence Object XML Definition Start -->
  <xsd:complexType name="ListPrecedence">
    <xsd:annotation>
      <xsd:documentation>
        Information about the precedence of List Types
      ; Version : EXOS 15.1.2, Access : READ, WRITE</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="common:ExosBase">
        <xsd:sequence>
       <xsd:element name="listname1" type="ListNames" minOccurs="1">
          <xsd:annotation>
              <xsd:documentation> 
                 List type which has precedence over all list types. This list's entries are searched first to find role.
              ; Version : EXOS 15.1.2, Access : READ, WRITE</xsd:documentation>
          </xsd:annotation>
      </xsd:element>
       <xsd:element name="listname2" type="ListNames" minOccurs="1">
          <xsd:annotation>
              <xsd:documentation> 
                 List type which has next highest precedence, after listname1. This list's entries are searched after listname1 to find role.
              ; Version : EXOS 15.1.2, Access : READ, WRITE</xsd:documentation>
          </xsd:annotation>
      </xsd:element>
       <xsd:element name="listname3" type="ListNames" minOccurs="1">
          <xsd:annotation>
              <xsd:documentation> 
                 Specify list type which has least precedence of all. This list's entries are searched after all other lists to find role.
              ; Version : EXOS 15.1.2, Access : READ, WRITE</xsd:documentation>
          </xsd:annotation>
       </xsd:element>
        <xsd:element name="action" type="actionTypes" minOccurs="1">
            <xsd:annotation>
                  <xsd:documentation>action - configure/unconfigure ; Version : EXOS 15.1.2, Access : READ, WRITE</xsd:documentation>
             </xsd:annotation>
      </xsd:element>
       <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute ref="common:operation"/>
        <xsd:anyAttribute namespace="##any" processContents="lax"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ListPrecedence Object XML Definition End -->

    <xsd:complexType name="AccessObject">
        <xsd:annotation>
       	<xsd:documentation>
                (Internal Use)
            </xsd:documentation>
       </xsd:annotation>
       <xsd:choice>
           <xsd:element name="userIdentityData" type="UserIdentityData"/>
           <xsd:element name="identityManagerConfig" type="IdentityManagerConfig"/>
           <xsd:element name="kerberosServer" type="KerberosServer"/>
           <xsd:element name="domainConfig" type="DomainConfig"/>
           <xsd:element name="ldapConfig" type="LdapConfig"/>
           <xsd:element name="ldapServerConfig" type="LdapServerConfig"/>
           <xsd:element name="userRole" type="UserRole"/>
           <xsd:element name="greyListEntry" type="GreyListEntry"/>
           <xsd:element name="blackListEntry" type="BlackListEntry"/>
           <xsd:element name="whiteListEntry" type="WhiteListEntry"/>
           <xsd:element name="refreshUserRole" type="RefreshUserRole"/>
           <xsd:element name="listConfig" type="ListConfig"/>
           <xsd:element name="listPrecedence" type="ListPrecedence"/>
      </xsd:choice>
 </xsd:complexType>
        
   <xsd:complexType name="objectList">
       <xsd:annotation>
       	<xsd:documentation>
                (Internal Use)
            </xsd:documentation>
       </xsd:annotation>
       <xsd:sequence>
           <xsd:element name="moduleObject" type="AccessObject" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
 </xsd:complexType>

</xsd:schema>
