SDK/api/xsd/port.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--THE INFORMATION AND SPECIFICATIONS IN THIS MANUAL REGARDING EXTREME NETWORKS DEVELOPER 
KIT ARE SUBJECT TO CHANGE WITHOUT NOTICE.  ALL STATEMENTS, INFORMATION, AND RECOMMENDATIONS IN THIS MANUAL
ARE PRESENTED WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED.  YOU TAKE FULL RESPONSIBILITY FOR YOUR USE
OF THE DEVELOPER KIT AND THE INFORMATION IN THIS MANUAL.
                
THE DEVELOPER KIT IS LICENSED TO YOU UNDER THE THEN-CURRENT LICENSE TERMS FOR THE  DEVELOPER KIT IN EFFECT AT 
THE TIME THE DEVELOPER KIT IS PROVIDED TO YOU BY EXTREME NETWORKS. PLEASE CONTACT EXTREME NETWORKS IF YOU DO
NOT HAVE A COPY OF THE LICENSE TERMS.  USE OF THE DEVELOPER KIT AND THIS MANUAL CONSTITUTES YOUR ACCEPTANCE 
OF THE DEVELOPER KIT LICENSE TERMS.-->

<!--

*

*  Copyright (c) Extreme Networks Inc.  2005,2006

*  All rights reserved 

*

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.extremenetworks.com/XMLSchema/xos/port" xmlns:common="http://www.extremenetworks.com/XMLSchema/xos/common" xmlns:port="http://www.extremenetworks.com/XMLSchema/xos/port" targetNamespace="http://www.extremenetworks.com/XMLSchema/xos/port" version="A.B.C.D">
	<xsd:import namespace="http://www.extremenetworks.com/XMLSchema/xos/common" schemaLocation="./common.xsd"/>



  <xsd:simpleType name="PortTransceiverStatus">
         <xsd:restriction base="xsd:string">
                <xsd:enumeration value="N/A"/>
                <xsd:enumeration value="Normal"/>
                <xsd:enumeration value="Low Alarm"/>
                <xsd:enumeration value="High Alarm"/>
                <xsd:enumeration value="Low Warning"/>
                <xsd:enumeration value="High Warning"/>
         </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="PortTransceiverInfo">
          <xsd:annotation>
                  <xsd:documentation>
                        DDMI is a Digital Diagnostic Monitoring feature on optics modules.It helps check if the module is operating within the manufacturer prescribed operating conditions.
                  ; Version : EXOS 12.5, Access : </xsd:documentation>
          </xsd:annotation>
       <xsd:complexContent>
            <!-- 
            * All external objects extend the ExosBase object, which is just 
            * a place holder for the content that you specify in this file.
            -->
          <xsd:extension base="common:ExosBase">
                <xsd:sequence>
                      <xsd:element name="portList" type="common:StringLen8" minOccurs="0">
                            <xsd:annotation>
                                  <xsd:documentation>
                                    Specifies the port number(s).
                                  ; Version : EXOS 12.5, Access : READ, INDEX</xsd:documentation>
                            </xsd:annotation>
                     </xsd:element>
           
                      <xsd:element name="mediaType" type="common:StringLen32" minOccurs="0">
                          <xsd:annotation>
                                <xsd:documentation>
                                  Shows Media type of tranceiver.
                                ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                         </xsd:annotation>
                      </xsd:element>

                    <xsd:element name="partNumber" type="common:StringLen32" minOccurs="0">
                          <xsd:annotation>
                                <xsd:documentation>
                                 Part number of transceiver.
                                ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                         </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="serialNumber" type="common:StringLen32" minOccurs="0">
                          <xsd:annotation>
                                 <xsd:documentation>
                                   Serial number of transceiver.
                                 ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                          </xsd:annotation> 
                    </xsd:element>
                                 
                    <xsd:element name="temperature" type="xsd:float" minOccurs="0">
                          <xsd:annotation>
                                <xsd:documentation>
                                  Shows internally measured transceiver temperature in Celsius. 
                               ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                         </xsd:annotation> 
                     </xsd:element>

 
                     <xsd:element name="lowWarnTshldTemp" type="xsd:float" minOccurs="0">
                               <xsd:annotation>
                                      <xsd:documentation>
                                       Shows internally measured low warning threshold transceiver temperature in Celsius. 
                                      ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                                </xsd:annotation> 
                     </xsd:element>
                   
                      <xsd:element name="highWarnTshldTemp" type="xsd:float" minOccurs="0">
                            <xsd:annotation>
                                  <xsd:documentation>
                                       Shows internally measured high warning threshold transceiver temperature in Celsius. 
                                  ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                            </xsd:annotation> 
                      </xsd:element>
                   
                      <xsd:element name="lowAlarmTshldTemp" type="xsd:float" minOccurs="0">
                             <xsd:annotation>
                                   <xsd:documentation>
                                        Shows internally measured low alarm threshold transceiver temperature in Celsius. 
                                   ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                             </xsd:annotation> 
                      </xsd:element>
                    
                      <xsd:element name="highAlarmTshldTemp" type="xsd:float" minOccurs="0">
                           <xsd:annotation>
                                 <xsd:documentation>
                                      Shows internally measured high alarm threshold transceiver temperature in Celsius. 
                                 ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                          </xsd:annotation> 
                      </xsd:element>

                      <xsd:element name="temperatureStatus" type="PortTransceiverStatus" minOccurs="0">
                              <xsd:annotation>
                                      <xsd:documentation>
                                      Shows temperature status of transceiver. 
                                     ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                              </xsd:annotation> 
                      </xsd:element>

                      <xsd:element name="txPower" type="xsd:float" minOccurs="0">
                              <xsd:annotation>
                                      <xsd:documentation>
                                        Shows TX output power in dBm. 
                                      ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                              </xsd:annotation> 
                      </xsd:element>

 
                      <xsd:element name="lowWarnTshldTxPower" type="xsd:float" minOccurs="0">
                              <xsd:annotation>
                                      <xsd:documentation>
                                       Shows low warning threshold TX output power in dBm. 
                                      ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                               </xsd:annotation> 
                       </xsd:element>
                     
                    
                       <xsd:element name="highWarnTshldTxPower" type="xsd:float" minOccurs="0">
                               <xsd:annotation>
                                     <xsd:documentation>
                                         Shows high warning threshold TX output power in dBm. 
                                     ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                                </xsd:annotation> 
                       </xsd:element>
                   
                       <xsd:element name="lowAlarmTshldTxPower" type="xsd:float" minOccurs="0">
                               <xsd:annotation>
                                      <xsd:documentation>
                                       Shows low alarm threshold TX output power in dBm. 
                                       ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                               </xsd:annotation> 
                        </xsd:element>
                    
                       <xsd:element name="highAlarmTshldTxPower" type="xsd:float" minOccurs="0">
                                 <xsd:annotation>
                                           <xsd:documentation>
                                           Shows high alarm threshold TX output power in dBm.
                                           ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                                  </xsd:annotation> 
                      </xsd:element>

                      <xsd:element name="txPowerStatus" type="PortTransceiverStatus" minOccurs="0">
                              <xsd:annotation>
                                      <xsd:documentation>
                                          Shows TX output power status.  
                                      ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                              </xsd:annotation> 
                      </xsd:element>

                      <xsd:element name="rxPower" type="xsd:float" minOccurs="0">
                             <xsd:annotation>
                                     <xsd:documentation>
                                        Shows RX input power in dBm. 
                                    ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                             </xsd:annotation> 
                       </xsd:element>

                      <xsd:element name="highWarnTshldRxPower" type="xsd:float" minOccurs="0">
                             <xsd:annotation>
                               <xsd:documentation>
                                    Shows high warning threshold RX input power in dBm. 
                                 ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                           </xsd:annotation> 
                     </xsd:element>
                   
                      <xsd:element name="lowWarnTshldRxPower" type="xsd:float" minOccurs="0">
                              <xsd:annotation>
                                   <xsd:documentation>
                                     Shows low warning threshold RX input power in dBm. 
                                   ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                               </xsd:annotation> 
                      </xsd:element>
                   
                    
             
                     <xsd:element name="lowAlarmTshldRxPower" type="xsd:float" minOccurs="0">
                         <xsd:annotation>
                               <xsd:documentation>
                                Shows low alarm threshold RX input power in dBm. 
                               ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                        </xsd:annotation> 
                    </xsd:element>
                    
                    <xsd:element name="highAlarmTshldRxPower" type="xsd:float" minOccurs="0">
                             <xsd:annotation>
                                    <xsd:documentation>
                                     Shows high alarm threshold RX input power in dBm.
                                    ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                            </xsd:annotation> 
                   </xsd:element>

                 <xsd:element name="rxPowerStatus" type="PortTransceiverStatus" minOccurs="0">
                         <xsd:annotation>
                                <xsd:documentation>
                               Shows RX input power status.
                               ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                        </xsd:annotation> 
                 </xsd:element>
                                   
                 <xsd:element name="txBiasCurrent" type="xsd:float" minOccurs="0">
                     <xsd:annotation>
                            <xsd:documentation>
                            Shows Tx bias current in milliampere.  
                            ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                     </xsd:annotation> 
                </xsd:element>

 
                <xsd:element name="lowWarnTshldTxBiasCurrent" type="xsd:float" minOccurs="0">
                      <xsd:annotation>
                             <xsd:documentation>
                             Shows low warning threshold Tx bias current in milliampere.  
                             ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                     </xsd:annotation> 
               </xsd:element>
                     
                    
               <xsd:element name="highWarnTshldTxBiasCurrent" type="xsd:float" minOccurs="0">
                     <xsd:annotation>
                           <xsd:documentation>
                            Shows high warning threshold Tx bias current in milliampere.  
                           ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                    </xsd:annotation> 
               </xsd:element>
                   
               <xsd:element name="lowAlarmTshldTxBiasCurrent" type="xsd:float" minOccurs="0">
                      <xsd:annotation>
                              <xsd:documentation>
                             Shows low alarm threshold Tx bias current in milliampere.  
                             ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                      </xsd:annotation> 
               </xsd:element>
                    
               <xsd:element name="highAlarmTshldTxBiasCurrent" type="xsd:float" minOccurs="0">
                       <xsd:annotation>
                             <xsd:documentation>
                             Shows high alarm threshold Tx bias current in milliampere.  
                             ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                      </xsd:annotation> 
               </xsd:element>

              <xsd:element name="txBiasCurrentStatus" type="PortTransceiverStatus" minOccurs="0">
                      <xsd:annotation>
                              <xsd:documentation>
                               Shows Tx bias current status.
                              ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                      </xsd:annotation> 
              </xsd:element>


              <xsd:element name="Aux1Voltage" type="xsd:float" minOccurs="0">
                     <xsd:annotation>
                            <xsd:documentation>
                            Shows input supply voltages to the transceiver. Some transceivers monitor one voltage, some transceivers monitor two voltages.
                            ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                    </xsd:annotation> 
             </xsd:element>

 
             <xsd:element name="lowWarnTshldAux1Voltage" type="xsd:float" minOccurs="0">
                     <xsd:annotation>
                          <xsd:documentation>
                           Shows low warning threshold Aux-1 input supply voltage in Volts.  
                           ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                    </xsd:annotation> 
             </xsd:element>
                     
            <xsd:element name="highWarnTshldAux1Voltage" type="xsd:float" minOccurs="0">
                    <xsd:annotation>
                          <xsd:documentation>
                            Shows high warning threshold Aux-1 input supply voltage in Volts.  
                           ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                   </xsd:annotation> 
            </xsd:element>
                   
            <xsd:element name="lowAlarmTshldAux1Voltage" type="xsd:float" minOccurs="0">
                    <xsd:annotation>
                          <xsd:documentation>
                          Shows low alarm threshold Aux-1 input supply voltage in Volts.
                          ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                   </xsd:annotation> 
           </xsd:element>
                    
           <xsd:element name="highAlarmTshldAux1Voltage" type="xsd:float" minOccurs="0">
                   <xsd:annotation>
                          <xsd:documentation>
                          Shows high alarm threshold Aux-1 input supply voltage in Volts.  
                          ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                 </xsd:annotation> 
           </xsd:element>

           <xsd:element name="aux1VoltageStatus" type="PortTransceiverStatus" minOccurs="0">
                    <xsd:annotation>
                            <xsd:documentation>
                            Shows status of Aux-1 input supply voltages to the transceiver. 
                            ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                   </xsd:annotation> 
          </xsd:element>


          <xsd:element name="Aux2Voltage" type="xsd:float" minOccurs="0">
                   <xsd:annotation>
                            <xsd:documentation>
                            Shows input supply voltages to the transceiver. Some transceivers monitor two voltages.
                            ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                   </xsd:annotation> 
          </xsd:element>

 
          <xsd:element name="lowWarnTshldAux2Voltage" type="xsd:float" minOccurs="0">
                  <xsd:annotation>
                          <xsd:documentation>
                           Shows low warning threshold Aux2 input supply voltage in Volts.  
                          ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                 </xsd:annotation> 
          </xsd:element>
                     
                    
           <xsd:element name="highWarnTshldAux2Voltage" type="xsd:float" minOccurs="0">
                  <xsd:annotation>
                        <xsd:documentation>
                         Shows high warning threshold Aux2 input supply voltage in Volts.  
                        ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                  </xsd:annotation> 
          </xsd:element>
                   
           <xsd:element name="lowAlarmTshldAux2Voltage" type="xsd:float" minOccurs="0">
                   <xsd:annotation>
                            <xsd:documentation>
                           Shows low alarm threshold Aux2 input supply voltage in Volts.  
                            ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                  </xsd:annotation> 
           </xsd:element>
                    
           <xsd:element name="highAlarmTshldAux2Voltage" type="xsd:float" minOccurs="0">
                   <xsd:annotation>
                        <xsd:documentation>
                        Shows high alarm threshold Aux2 input supply voltage in Volts.  
                          ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                  </xsd:annotation> 
          </xsd:element>
          <xsd:element name="aux2VoltageStatus" type="PortTransceiverStatus" minOccurs="0">
                  <xsd:annotation>
                          <xsd:documentation>
                           Shows status of Aux-2 input supply voltage to the transceiver.
                          ; Version : EXOS 12.5, Access : READ</xsd:documentation>
                 </xsd:annotation> 
          </xsd:element>

                        
          <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
     </xsd:sequence>            
     <xsd:attribute ref="common:operation"/>
     <xsd:anyAttribute namespace="##any" processContents="lax"/>
     </xsd:extension>
     </xsd:complexContent>
  </xsd:complexType>

   
	<xsd:simpleType name="LinkStates">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="Ready"/>
			<xsd:enumeration value="Active"/>
			<xsd:enumeration value="NotPresent"/>
			<xsd:enumeration value="na"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Percent">
		<xsd:restriction base="xsd:float">
			<xsd:minExclusive value="0.0"/>
			<xsd:maxExclusive value="100.0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="QoSTypes">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="ingress"/>
			<xsd:enumeration value="egress"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="QoSProfiles">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="QP1"/>
			<xsd:enumeration value="QP2"/>
			<xsd:enumeration value="QP3"/>
			<xsd:enumeration value="QP4"/>
			<xsd:enumeration value="QP5"/>
			<xsd:enumeration value="QP6"/>
			<xsd:enumeration value="QP7"/>
			<xsd:enumeration value="QP8"/>
			<xsd:enumeration value="na"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="QoSProfileInfo">
		<xsd:annotation>
			<xsd:documentation>
			QoS profile information.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="qos" type="QoSProfiles" minOccurs="0"/>
			<xsd:element name="minBw" type="common:uint32_t" minOccurs="0"/>
			<xsd:element name="maxBw" type="common:uint32_t" minOccurs="0"/>
			<xsd:element name="priority" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:byte">
						<xsd:minExclusive value="0"/>
						<xsd:maxExclusive value="7"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AggrQoSProfileInfo">
		<xsd:annotation>
			<xsd:documentation>
			Aggregate QoS profile information.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="minBw" type="common:uint32_t" minOccurs="0"/>
			<xsd:element name="maxBw" type="common:uint32_t" minOccurs="0"/>
			<xsd:element name="priority" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:byte">
						<xsd:minExclusive value="0"/>
						<xsd:maxExclusive value="7"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VlanInfo">
		<xsd:sequence>
			<xsd:element name="vlanName" type="common:StringLen64" minOccurs="0"/>
                </xsd:sequence>
        </xsd:complexType>
	
	<xsd:simpleType name="RateShaping">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="Unsupported"/>
			<xsd:enumeration value="SupportIQP1_2"/>
			<xsd:enumeration value="SupportIQP1_8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AdminStates">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="Enabled"/>
			<xsd:enumeration value="Disabled"/>
			<xsd:enumeration value="na"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Protocols">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="UP"/>
			<xsd:enumeration value="na"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PreferredMediums">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="copper"/>
			<xsd:enumeration value="fiber"/>
			<xsd:enumeration value="na"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Speeds">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="10"/>
			<xsd:enumeration value="100"/>
			<xsd:enumeration value="1000_1G"/>
			<xsd:enumeration value="10000_10G"/>
			<xsd:enumeration value="AUTO"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Media">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="copper"/>
			<xsd:enumeration value="fiber"/>
			<xsd:enumeration value="na"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AutoNegotiations">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="on"/>
			<xsd:enumeration value="off"/>
			<xsd:enumeration value="na"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DuplexValues">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="half"/>
			<xsd:enumeration value="full"/>
			<xsd:enumeration value="auto"/>
			<xsd:enumeration value="na"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EtherTypes">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="primary"/>
			<xsd:enumeration value="secondry"/>
			<xsd:enumeration value="na"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="FloodingTypes">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="unicast"/>
			<xsd:enumeration value="multicast"/>
			<xsd:enumeration value="unicast_multicast"/>
			<xsd:enumeration value="broadcast"/>
			<xsd:enumeration value="unicast_broadcast"/>
			<xsd:enumeration value="multicast_broadcast"/>
			<xsd:enumeration value="all"/>
			<xsd:enumeration value="none"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!--  6 {show -f "address based - L2_L3_CHK_SUM\n"}
                            7 {show -f "address based - L2_L3_L4_CHK_SUM\n"}
                            8 {show -f "address based - L3\n"}
                            9 {show -f "address based - L3_L4\n"}
-->
	
		<xsd:simpleType name="SharingAlgoritms">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="L2"/>
			<xsd:enumeration value="L3"/>
			<xsd:enumeration value="L4"/>
			<xsd:enumeration value="L2_L3"/>			
			<xsd:enumeration value="L3_L4"/>			
			<xsd:enumeration value="L2_L3_L4"/>
			<xsd:enumeration value="L2_L3_CHK_SUM"/>
			<xsd:enumeration value="L2_L3_L4_CHK_SUM"/>		
            <xsd:enumeration value="SRC_MAC"/>
            <xsd:enumeration value="DEST_MAC"/>
            <xsd:enumeration value="SRC_IP"/>
            <xsd:enumeration value="DEST_IP"/>
            <xsd:enumeration value="SRC_IPv6"/>
            <xsd:enumeration value="DEST_IPv6"/>
			<xsd:enumeration value="custom"/>
			<xsd:enumeration value="na"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="LoadSharing">
	     <xsd:annotation>
			<xsd:documentation>Load sharing group.; Version : EXOS 12.0, Access : READ,ADD, WRITE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="masterPort"  type="common:StringLen8"  minOccurs="0" >
						<xsd:annotation>
							<xsd:documentation>Master port for load sharing; Version : EXOS 12.0, Access : READ, INDEX</xsd:documentation>
						</xsd:annotation>
						</xsd:element>
					<xsd:element name="algorithm"  type="SharingAlgoritms"  minOccurs="0" >
						<xsd:annotation>
							<xsd:documentation>Algoritm for load sharing; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
						</xsd:element>
					<xsd:element name="memberPorts"  type="common:StringLen1K"  minOccurs="0" >
						<xsd:annotation>
							<xsd:documentation>Member ports participating in this sharing; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
						</xsd:element>
						
			
					<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="FloodRate">
		<xsd:annotation>
			<xsd:documentation>
			(Not Used)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="enabled" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="rate" type="Speeds" minOccurs="0"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="PortFlag">
		<xsd:annotation>
			<xsd:documentation>
			(Not Used)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="flagName" type="common:StringLen16"/>
			<xsd:element name="flagEnabled" type="Speeds"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PortConfig">
		<xsd:annotation>
			<xsd:documentation>
			Port configuration. This object is used to query or modify port configuration on the switch.
			<br/>
			For a detailed description of the individual attributes and their usage please refer to the "EXOS Command Reference" and "EXOS Concept Guide".
			<br/>
			NOTE: There could be hundreds of ports in a fully loaded chassis-based switch. In these
			cases it is recommended that the paging mechanism available with <code>getRequest</code>
			be used when fetching all the ports from the switch. 
			; Version : EXOS 12.0, Access : READ</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="portList" type="common:StringLen8" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
							Port number. When referring to a single port as in a <code>setRequest</code>
							for a specific port in a <code>getRequest</code> to fetch specific port, the value
							is just that port number.
							<br/>
							This is also used to specify a set of ports in a <code>getRequest</code> to fetch
							multiple ports. In this case, the value is a comma separated list of ports or port ranges.
							For example, "1:1, 1:3, 2:1-2:3" means ports 1:1, 1:3, 2:1,2:2,2:3.
							; Version : EXOS 12.0, Access : READ, INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="smartRedundancyEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether smart redundancy is enabled; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="type" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Port type; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="virtualRouter" type="common:StringLen32" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="vlans" type="VlanInfo" minOccurs="0" maxOccurs="4096">
						<xsd:annotation>
							<xsd:documentation>; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="adminState" type="AdminStates" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Admin state of the port; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="linkState" type="LinkStates" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Link state; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="linkCounter" type="xsd:unsignedInt" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--xsd:element name="vlanName" type="common:stringSequence" minOccurs="0"-->
					<!--xsd:annotation-->
					<!--xsd:documentation> vlanName variable represents vlan name. </xsd:documentation-->
					<!--xsd:appinfo-->
					<!--version>EXOS 12.0</version-->
					<!--access>READ, WRITE</access-->
					<!--variable>vlanName</variable-->
					<!--module/-->
					<!--/xsd:appinfo-->
					<!--/xsd:annotation-->
					<!--/xsd:element-->
					<!--xsd:element name="trunking" type="xsd:string" minOccurs="0"-->
					<!--xsd:annotation-->
					<!--xsd:documentation> </xsd:documentation-->
					<!--xsd:appinfo-->
					<!--version>EXOS 12.0</version-->
					<!--access>READ </access-->
					<!--module/-->
					<!--variable>trunkAlgo</variable-->
					<!--/xsd:appinfo-->
					<!--/xsd:annotation-->
					<!--/xsd:element-->
					<!--	
 -->
 
			<xsd:element name="flowControl" type="common:StringLen8" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Flow control; Version : EXOS 12.0, Access : READ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
           
		
			
			<xsd:element name="learningEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether learning is enabled; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="floodType" type="common:uint8_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>This is a bit mask, bit position 0 indicates unicast, bit position 1 indicates multicast and bit position 2 indicates broadcast.; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="displayString" type="common:StringLen16" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>User set name or display string for the port.; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="descriptionString" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>User defined description string for the port.; Version : EXOS 15.3, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="medium" type="Media" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates combo port configuration medium; Version : EXOS 12.4, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="autoNegotiation" type="AutoNegotiations" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether port will auto negotiate duplex and speed paramaters; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="configDuplex" type="DuplexValues" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Configured duplex value; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="configSpeed" type="Speeds" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Configured port speed; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="preferredMedium" type="PreferredMediums" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation> ; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="jumboFrameEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether jumbo frames are enabled; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="jumboSize" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Defines the size of a jumbo frame; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="IngressIPTOSExaminationEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether ingress IPTOS examination is enabled; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="IPTOSReplacementEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether IPTOS replacement is enabled; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="n802.1pReplacementEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether n802.1 replacement is enabled; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--These attribures are not the port's attributes -->
					<!--These attribures are not the port's attributes -->
					<!--xsd:element name="netloginEnabled" type="common:TrueFalse" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> ; Version : EXOS 12.0, Access : READ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="netloginAutheticationModeEnabled" type="common:TrueFalse" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> ; Version : EXOS 12.0, Access : READ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="netloginPortModeEnabled" type="common:TrueFalse" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> ; Version : EXOS 12.0, Access : READ</xsd:documentation>
				</xsd:annotation>
			</xsd:element-->
					<xsd:element name="forcePreferredEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation> ; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="multicastRateEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether multicast rate limiting is enabled; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="multicastRate" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Multicast rate limit; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="broadcastRateEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether broadcast rate limiting is enabled.; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="broadcastRate" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Broadcast rate limit.; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="unknownDestRateEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether unknow destination rate limiting is enabled.; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="unknownDestRate" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Unknown destination rate limit.; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="reflectiveRelay" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether reflective-relay switching is enabled; Version : EXOS 12.5, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="highPriorityCosVal" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>High priority CoS value.; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="bytesAdjusted" type="common:uint8_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Number of bytes to adjust per packet when calculating traffic rate and statistics for HQoS; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="burstSize" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation> ; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="burstMult" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation> ; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
					<xsd:element name="egressPortRate" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Egress rate limit in kilo bits.; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="egressMult" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation> ; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
					<xsd:element name="elsmEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether ELSM is enabled.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="edpEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether EDP is enabled.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ingress802.1pExaminationEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether ingress 802.1p examniation is enabled.; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ingress802.1pInnerExamEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether ingress 802.1p inner examination is enabled. ; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ingressRateShaping" type="RateShaping" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Ingress rate shaping.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="egressPortRateEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether egress rate limiting is enabled.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="actualDuplex" type="DuplexValues" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Actual duplex value.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="actualSpeed" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Actual port speed.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="iQosProfile" type="port:QoSProfiles" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Ingress QoS profile.; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="eQosProfile" type="QoSProfileInfo" minOccurs="0" maxOccurs="8">
						<xsd:annotation>
							<xsd:documentation>Egress QoS profile.; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="aggrQosProfile" type="AggrQoSProfileInfo" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Aggregate QoS profile.; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="flags" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
							This provides the various states and options of the port in a concise format. Please refer
							the "EXOS Concepts Guide" and "EXOS Command Reference" for a detailed explaination of the
							format for the flags.
							; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="autoPolarityEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether auto-polarity is enabled.; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="swRedundantPort" type="common:StringLen8" minOccurs="0">
						<xsd:annotation>
						<xsd:documentation>Software redundant port for this port.; Version : EXOS 12.0, Access : READ,ADD, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
			
					<xsd:element name="swRedundantPortLinkEnabled" type="common:TrueFalse" minOccurs="0">
					<xsd:annotation>
					<xsd:documentation>Indicates whether link is enabled on the software redundant port.; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
					</xsd:annotation>
					</xsd:element>

					<xsd:element name="primaryPort" type="common:StringLen8" minOccurs="0">
					<xsd:annotation>
					<xsd:documentation>Refers to the primary port when this port is configured as software redundant port.; Version : EXOS 12.0, Access : READ</xsd:documentation>
					</xsd:annotation>
					</xsd:element>

                                        <xsd:element name="dwdmChannelNumber" type="common:uint16_t"  minOccurs="0" >
                                        <xsd:annotation>
                                        <xsd:documentation>
                                            Extreme Networks devices support the ITU defined channels of 21-60.You need to configure appropriate 
                                            channel number for the required frequency.
                                        ; Version : EXOS 12.5, Access : READ,WRITE</xsd:documentation>
                                        </xsd:annotation>
                                        </xsd:element>
  
                                        <xsd:element name="dwdmWaveLength" type="xsd:float" minOccurs="0">
                                        <xsd:annotation>
                                        <xsd:documentation>Shows the DWDM wavelength in nanometers. This value corresponds to the configured channel number.; Version : EXOS 12.5, Access : READ</xsd:documentation>
                                        </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="defaultDwdmChannelEnabled" type="common:TrueFalse" minOccurs="0">
                                        <xsd:annotation>
                                        <xsd:documentation>
                                        Enable to configure the default DWDM channel number to the DWDM optical module
                                        inserted in the given port. This default channel number of 21 and will be mapped to the appropriate
                                        corresponding channel number of the vendor specific channel. If a non-tunable DWDM optic is present,
                                        then the DWDM configuration is silently removed from the software.
                                        ; Version : EXOS 12.5, Access : READ,WRITE</xsd:documentation>
                                        </xsd:annotation>
                                        </xsd:element>

					<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PortUtilizationStats">
		<xsd:annotation>
			<xsd:documentation>Port utilization information. This object is used to query real-time port utilization information from the switch.; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="portList" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
							Port number. When referring to a single port as in a <code>getRequest</code> to fetch specific port, the value
							is just that port number.
							<br/>
							This is also used to specify a set of ports in a <code>getRequest</code> to fetch
							multiple ports. In this case, the value is a comma separated list of ports or port ranges.
							For example, "1:1, 1:3, 2:1-2:3" ports 1:1, 1:3, 2:1,2:2,2:3.
							; Version : EXOS 12.0, Access : READ, INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="linkState" type="LinkStates" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Port link state.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="displayString" type="common:StringLen16" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>User configured name or display string of the port.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="receivePktsPerSec" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Traffic receive rate in packets per second.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="receivePeakPktsPerSec" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Peak traffic receive rate in packets per second.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="transmitPktsPerSec" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Traffic transmit rate in packets per second.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="transmitPeakPktsPerSec" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Peak traffic transmit rate in packets per second.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="receiveBytesPerSec" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Traffic receive rate in bytes per second.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="receivePeakBytesPerSec" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Peak traffic receive rate in bytes per second.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="transmitBytesPerSec" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Traffic transmit rate in bytes per second.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="transmitPeakBytesPerSec" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Peak traffic transmit rate in bytes per second.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="receiveBWPercent" type="Percent" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Port receive bandwidth utilization as a percent of total capacity.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="receiveBWPeakPercent" type="Percent" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Port peak receive bandwidth utilization as a percent of total capacity.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="transmitBWPercent" type="Percent" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Port transmit bandwidth utilization as a percent of total capacity.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="transmitBWPeakPercent" type="Percent" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Port peak transmit bandwidth utilization as a percent of total capacity.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PortQoSStats">
		<xsd:annotation>
			<xsd:documentation>Port shaping and QoS statistics. This object is used to query real-time port shaping and QoS statistics from the switch.; Version : EXOS 12.0, Access : READ</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="portList" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
							Port number. When referring to a single port as in a <code>getRequest</code> to fetch specific port, the value
							is just that port number.
							<br/>
							This is also used to specify a set of ports in a <code>getRequest</code> to fetch
							multiple ports. In this case, the value is a comma separated list of ports or port ranges.
							For example, "1:1, 1:3, 2:1-2:3" ports 1:1, 1:3, 2:1,2:2,2:3.
							; Version : EXOS 12.0, Access : READ, INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="type" type="QoSTypes" minOccurs="0">
						<xsd:annotation>
						<xsd:documentation>
						Type or direction for the statistics. Set this to egress or ingress to fetch statistics for that direction.
 						; Version : EXOS 12.0, Access : READ, INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
			<!--<xsd:element name="linkState" type="LinkStates" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> ; Version : EXOS 12.0, Access : NOT SUPPORTED</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="displayString" type="common:StringLen16" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> ; Version : EXOS 12.0, Access : READ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>-->
					<xsd:element name="QP1TransmitBytes" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Bytes transmitted in QP1; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="QP2TransmitBytes" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Bytes transmitted in QP2; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="QP3TransmitBytes" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Bytes transmitted in QP3; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="QP4TransmitBytes" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Bytes transmitted in QP4; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="QP5TransmitBytes" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Bytes transmitted in QP5; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="QP6TransmitBytes" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Bytes transmitted in QP6; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="QP7TransmitBytes" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Bytes transmitted in QP7; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="QP8TransmitBytes" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Bytes transmitted in QP8; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="QP1TransmitPackets" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Packets transmitted in QP1; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="QP2TransmitPackets" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Packets transmitted in QP2; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="QP3TransmitPackets" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Packets transmitted in QP3; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="QP4TransmitPackets" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Packets transmitted in QP4; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="QP5TransmitPackets" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Packets transmitted in QP5; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="QP6TransmitPackets" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Packets transmitted in QP6; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="QP7TransmitPackets" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Packets transmitted in QP7; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="QP8TransmitPackets" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Packets transmitted in QP8; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PortTrafficStats">
		<xsd:annotation>
			<xsd:documentation>Real-time port statistics.; Version : EXOS 12.0, Access : READ</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="portList" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
							Port number. When referring to a single port as in a <code>getRequest</code> to fetch specific port, the value
							is just that port number.
							<br/>
							This is also used to specify a set of ports in a <code>getRequest</code> to fetch
							multiple ports. In this case, the value is a comma separated list of ports or port ranges.
							For example, "1:1, 1:3, 2:1-2:3" ports 1:1, 1:3, 2:1,2:2,2:3.
							; Version : EXOS 12.0, Access : READ, INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="linkState" type="LinkStates" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Port link state.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="displayString" type="common:StringLen16" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>User configured name or display string of the port.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="transmitPacketCounter" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Packets transmitted.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="transmitByteCounter" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Bytes transmitted.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="receivePacketCounter" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Packets received.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="receiveByteCounter" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Bytes received.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="receiveBCastCounter" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Broadcast packets received.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="receiveMCastCounter" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Multicast packets received.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PortErrorStats">
		<xsd:annotation>
			<xsd:documentation>Real-time port errors statistics.; Version : EXOS 12.0, Access : READ</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="portList" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
							Port number. When referring to a single port as in a <code>getRequest</code> to fetch specific port, the value
							is just that port number.
							<br/>
							This is also used to specify a set of ports in a <code>getRequest</code> to fetch
							multiple ports. In this case, the value is a comma separated list of ports or port ranges.
							For example, "1:1, 1:3, 2:1-2:3" ports 1:1, 1:3, 2:1,2:2,2:3.
							; Version : EXOS 12.0, Access : READ, INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="linkState" type="LinkStates" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Port link state.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="displayString" type="common:StringLen16" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>User configured name or display string of the port.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="transmitCollisions" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of collisions seen by the port, regardless of whether a device connected to the port participated in any of the collisions.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="transmitLateCollisions" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of collisions that have occurred after the ports transmit window has expired.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="transmitDeferred" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of frames that were transmitted by the port after the first transmission attempt was deferred by other network traffic.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="transmitErrors" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of frames that were not completely transmitted by the port because of network errors (such as late collisions or excessive collisions).; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="transmitLost" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of transmit frames that do not get completely transmitted because of buffer problems (FIFO underflow).; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="transmitParity" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The bit summation has a parity mismatch.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="receiveCrc" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of frames received by the port that were of the correct length, but contained a bad FCS value. ; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="receiveOver" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of good frames received by the port greater than the supported maximum length of 1,522 bytes.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="receiveUnder" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of frames received by the port that were less than 64 bytes long.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="receiveFragment" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation> The total number of frames received by the port were of incorrect length and contained a bad FCS value.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="receiveJabber" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation> The total number of frames received by the port that was of greater than the support maximum length and had a Cyclic Redundancy Check (CRC) error.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="receiveAlign" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of frames received by the port that occurs if a frame has a CRC error and does not contain an integral number of octets. ; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="receiveLost" type="common:uint64_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of frames received by the port that were lost because of buffer overflow in the switch. ; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AccessObject">
		<xsd:annotation>
			<xsd:documentation>
			(Internal Use)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="portErrorStats" type="port:PortErrorStats"/>
			<xsd:element name="portConfig" type="port:PortConfig"/>
			<xsd:element name="portUtilizationStats" type="port:PortUtilizationStats"/>
			<xsd:element name="portQoSStats" type="port:PortQoSStats"/>
			<xsd:element name="portTrafficStats" type="port:PortTrafficStats"/>
			<xsd:element name="loadSharing" type="port:LoadSharing"/>
                       <xsd:element name="portTransceiverInfo" type="port:PortTransceiverInfo"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="getPortAccessObjectRequest">
		<xsd:annotation>
			<xsd:documentation>
			(Not Used)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="profile" type="AccessObject"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPortAccessObjectResponse">
		<xsd:annotation>
			<xsd:documentation>
			(Not Used)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="profile" type="objectList"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="zzz" type="objectList"/>
	<xsd:complexType name="objectList">
		<xsd:annotation>
			<xsd:documentation>
			(Internal Use)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="moduleObject" type="AccessObject" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--	<xsd:element name="flooding" type="Flood"/> -->
</xsd:schema>
