SDK/api/xsd/snmp.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--THE INFORMATION AND SPECIFICATIONS IN THIS MANUAL REGARDING EXTREME NETWORKS DEVELOPER 
KIT ARE SUBJECT TO CHANGE WITHOUT NOTICE.  ALL STATEMENTS, INFORMATION, AND RECOMMENDATIONS IN THIS MANUAL
ARE PRESENTED WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED.  YOU TAKE FULL RESPONSIBILITY FOR YOUR USE
OF THE DEVELOPER KIT AND THE INFORMATION IN THIS MANUAL.
                
THE DEVELOPER KIT IS LICENSED TO YOU UNDER THE THEN-CURRENT LICENSE TERMS FOR THE  DEVELOPER KIT IN EFFECT AT 
THE TIME THE DEVELOPER KIT IS PROVIDED TO YOU BY EXTREME NETWORKS. PLEASE CONTACT EXTREME NETWORKS IF YOU DO
NOT HAVE A COPY OF THE LICENSE TERMS.  USE OF THE DEVELOPER KIT AND THIS MANUAL CONSTITUTES YOUR ACCEPTANCE 
OF THE DEVELOPER KIT LICENSE TERMS.-->

<!--
*
*  Copyright (c) Extreme Networks Inc.  2005,2006
*  All rights reserved 
*
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.extremenetworks.com/XMLSchema/xos/snmp" xmlns:common="http://www.extremenetworks.com/XMLSchema/xos/common" xmlns:snmp="http://www.extremenetworks.com/XMLSchema/xos/snmp" targetNamespace="http://www.extremenetworks.com/XMLSchema/xos/snmp" version="A.B.C.D">
	<xsd:import namespace="http://www.extremenetworks.com/XMLSchema/xos/common" schemaLocation="./common.xsd"/>
	<xsd:simpleType name="Modes">
		<xsd:annotation>
			<xsd:documentation>Enumeration of modes.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="standard"/>
			<xsd:enumeration value="enhanced"/>
			<xsd:enumeration value="na"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="authProtocols">
		<xsd:annotation>
			<xsd:documentation>Enumeration of authentication protocols.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="noAuthentication"/>
			<xsd:enumeration value="HMAC_MD5"/>
			<xsd:enumeration value="HMAC_SHA"/>
			<xsd:enumeration value="na"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PrivacyProtocols">
		<xsd:annotation>
			<xsd:documentation>Enumeration of privacy protocols.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="DES"/>
			<xsd:enumeration value="3DES"/>
			<xsd:enumeration value="AES128"/>
			<xsd:enumeration value="AES192"/>
			<xsd:enumeration value="AES256"/>
			<xsd:enumeration value="noPrivacy"/>
			<xsd:enumeration value="na"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ContextMatches">
		<xsd:annotation>
			<xsd:documentation>Enumeration of context matches.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="exact"/>
			<xsd:enumeration value="prefix"/>
			<xsd:enumeration value="na"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SecurityLevels">
		<xsd:annotation>
			<xsd:documentation>Enumeration of security levels.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="noAuthNoPriv"/>
			<xsd:enumeration value="authNoPriv"/>
			<xsd:enumeration value="authPriv"/>
			<xsd:enumeration value="na"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SecurityModels">
		<xsd:annotation>
			<xsd:documentation>Enumeration of security models.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="any"/>
			<xsd:enumeration value="SNMPv1"/>
			<xsd:enumeration value="SNMPv2c"/>
			<xsd:enumeration value="USM"/>
			<xsd:enumeration value="na"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="GeneralConfig">
		<xsd:annotation>
			<xsd:documentation>General SNMP configuration.; Version : EXOS 12.0, Access : READ</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="snmpEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether SNMP is enabled.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
					
					
					<xsd:element name="sshAccess" type="common:SSHStates" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>SSH state.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>


					<xsd:element name="telnetAccess" type="common:TelnetStates" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Telnet state.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>


					<xsd:element name="rmonEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether RMON is enabled.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="engineId" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>SNMP engine id.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="engineBoots" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The number of times that the SNMP engine has (re-)initialized itself since its initial configuration.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="engineTime" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The number of seconds since the SNMP engine has (re-)initialized itself.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="engineMaxMsgSize" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The maximum length in octets of an SNMP message which this SNMP engine can send or receive and process, determined as the minimum of the maximum message size values supported among all of the transports available to and supported by the engine.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="snmpV1V2CEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether SNMP v1/v2c is enabled.; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="snmpTrapsEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether SNMP traps are enabled.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="authTrapsEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether authrorization traps are enabled.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="systemType" type="common:StringLen32" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>System type.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="systemName" type="common:StringLen32" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>System name.; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="systemLocation" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>System location.; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="systemUpTime" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The time since the network management portion of the system was last re-initialized.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="systemDescription" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>System description.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="systemContact" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Contact person for the system.; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SNMPStats">
		<xsd:annotation>
			<xsd:documentation>SNMP statistics.; Version : EXOS 12.0, Access :  READ</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="getRequest" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of GET requests processed.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="setRequest" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of SET requests processed.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="getNextRequest" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of GET-NEXT requests processed.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="sentPackets" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of packets sent.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="sentTraps" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of traps sent.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="receivedRequest" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of requests received.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="authorizationError" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of authorization errors.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="generalError" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of packets received by the SNMP engine which were dropped because of  some of the reasons e.g. bad packet etc; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="unknownSecurityModels" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of packets received by the SNMP engine which were dropped because they referenced a securityModel that was not known to or supported by the SNMP engine.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="InvalidMessages" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of packets received by the SNMP engine which were dropped because there were invalid or inconsistent components in the SNMP message.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="unknownPDUHandlers" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of packets received by the SNMP engine which were dropped because the PDU contained in the packet could not be passed to an application responsible for handling the pduType, e.g. no SNMP application had registered for the proper combination of the contextEngineID and the pduType.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="usmStatsUnsupportedSecLevels" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of packets received by the SNMP engine which were dropped because they requested a securityLevel that was unknown to the SNMP engine or otherwise unavailable.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="usmStatsNotInTimeWindows" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of packets received by the SNMP engine which were dropped because they appeared outside of the authoritative SNMP engine's window.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="usmStatsUnknownUserNames" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of packets received by the SNMP engine which were dropped because they referenced a user that was not known to the SNMP engine.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="usmStatsUnknownEngineIDs" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of packets received by the SNMP engine which were dropped because they referenced an snmpEngineID that was not known to the SNMP engine.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="usmStatsWrongDigests" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of packets received by the SNMP engine which were dropped because they didn't contain the expected digest value.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="usmStatsDecryptionErrors" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The total number of packets received by the SNMP engine which were dropped because they could not be decrypted.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="VacmViewTreeFamilyEntry">
		<xsd:annotation>
			<xsd:documentation>
			MIB view name.
			<br/>
			NOTE: This is modelled similar to vacmViewTreeFamilyEntry defined in 
			SNMP-VIEW-BASED-ACM-MIB (RFC 2575). Please refer to the RFC for a detailed
			description of the attributes.
			; Version : EXOS 12.0, Access : READ</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="vacmViewTreeFamilyViewName" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>View name.; Version : EXOS 12.0, Access : READ, INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="vacmViewTreeFamilySubtree" type="common:StringLen1K" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The MIB subtree which when combined with the corresponding instance of vacmViewTreeFamilyMask defines a family of view subtrees.; Version : EXOS 12.0, Access : READ, INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="vacmViewTreeFamilyMask" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The bit mask which, in combination with the corresponding instance of vacmViewTreeFamilySubtree, defines a family of view subtrees.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="vacmViewTreeFamilyType" type="common:IncludeExcludes" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation> Indicates whether the corresponding instances of vacmViewTreeFamilySubtree and vacmViewTreeFamilyMask define a family of view subtrees which is included in or excluded from the MIB view.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SnmpCommunityEntry">
		<xsd:annotation>
			<xsd:documentation>
			SNMP v1/v2c community configuration.
			<br/>
			NOTE: This is modelled similar to snmpCommunityEntry defined in 
			SNMP-COMMUNITY-MIB (RFC 2576). Please refer to the RFC for a detailed
			description of the attributes.
			; Version : EXOS 12.0, Access : READ</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="snmpCommunityIndex" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Unique index.; Version : EXOS 12.0, Access : READ, INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="snmpCommunityName" type="common:StringLen1K" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Community string.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="snmpCommunitySecurityName" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Security name.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="snmpCommunityContextEngineID" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Context engine id.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="snmpCommunityContextName" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Context name.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="snmpCommunityTransportTag" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Transport tag.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="VacmSecurityToGroupEntry">
		<xsd:annotation>
			<xsd:documentation>
			Mapping os security model and name to a group.
			<br/>
			NOTE: This is modelled similar to vacmSecurityToGroupEntry defined in 
			SNMP-COMMUNITY-MIB (RFC 2575). Please refer to the RFC for a detailed
			description of the attributes.
			; Version : EXOS 12.0, Access : READ</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="vacmSecurityModel" type="SecurityModels" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Security model.; Version : EXOS 12.0, Access : READ, INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="vacmSecurityName" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Security name.; Version : EXOS 12.0, Access : READ, INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="vacmGroupName" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Group name.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SnmpTargetAddrEntry">
		<xsd:annotation>
			<xsd:documentation>
			Transport address for SNMP operations.
			<br/>
			NOTE: This is modelled similar to snmpTargetAddrEntry defined in 
			SNMP-TARGET-MIB (RFC 2573). Please refer to the RFC for a detailed
			description of the attributes.
			; Version : EXOS 12.0, Access :  READ</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="snmpTargetAddrName" type="common:StringLen32" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Target address name.; Version : EXOS 12.0, Access : READ, INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="snmpTargetAddrTDomain" type="common:StringLen1K" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Transport type of the address.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="snmpTargetAddrTAddress" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Transport address. The format of this address depends on the transport type.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="snmpTargetAddrTimeout" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Timeout when communicating with the transport address.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="snmpTargetAddrRetryCount" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Number of times to retry when response is not received.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="snmpTargetAddrTagList" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Tag values which are used to select target addresses for a particular operation.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="mode" type="Modes" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Modes.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="snmpTargetAddrTMask" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Target address mask.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SnmpV1V2CTrapReceiver">
		<xsd:annotation>
			<xsd:documentation>
			SNMP v1/v2c trap receiver.
			; Version : EXOS 12.0, Access :  READ</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="ipaddress" type="common:IPAddress" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="community" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Trap community string.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="port" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Port number at the receiver.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="sourceIpAddress" type="common:IPAddress" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The source IP address of the traps- defaults to the switch IP address.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="standardMode" type="Modes" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Mode.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UsmUserEntry">
		<xsd:annotation>
			<xsd:documentation>
			SNMP v3 user configuration.
			<br/>
			NOTE: This is modelled similar to usmUserEntry defined in 
			SNMP-USER-BASED-SM-MIB (RFC 2574). Please refer to the RFC for a detailed
			description of the attributes.
			; Version : EXOS 12.0, Access :  READ</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="usmUserEngineID" type="common:StringLen32" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>SNMP enginer id.; Version : EXOS 12.0, Access : READ, INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="usmUserName" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>User name.; Version : EXOS 12.0, Access : READ, INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="usmUserSecurityName" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Security name.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--xsd:element name="cloneFrom"  type="common:uint32_t" /-->
					<xsd:element name="usmUserAuthProtocol" type="authProtocols" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Authentication protocol.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--xsd:element name="authKeyChange"  type="common:StringLen256" /-->
					<xsd:element name="usmUserPrivProtocol" type="PrivacyProtocols" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Privacy (encryption) protocol.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="usmUserPublic" type="PrivacyProtocols" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Publicly key to modify the user's secret authentication and private key.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="objectList">
		<xsd:annotation>
			<xsd:documentation>(Internal Use).</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="moduleObject" type="AccessObject" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AccessObject">
		<xsd:annotation>
			<xsd:documentation>(Internal Use).</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="generalConfig" type="GeneralConfig"/>
			<!--xsd:element name="userConfig" type="UserConfig"/-->
			<xsd:element name="sNMPStats" type="SNMPStats"/>
			<xsd:element name="vacmViewTreeFamilyEntry" type="VacmViewTreeFamilyEntry"/>
			<xsd:element name="snmpCommunityEntry" type="SnmpCommunityEntry"/>
			<xsd:element name="snmpTargetAddrEntry" type="SnmpTargetAddrEntry"/>
			<xsd:element name="vacmSecurityToGroupEntry" type="VacmSecurityToGroupEntry"/>
			<!--<xsd:element name="snmpV1V2CTrapReceiver" type="SnmpV1V2CTrapReceiver"/>-->
			<xsd:element name="vacmAccessEntry" type="VacmAccessEntry"/>
			<xsd:element name="usmUserEntry" type="UsmUserEntry"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="getPortAccessObjectRequest">
		<xsd:annotation>
			<xsd:documentation>(Not Used).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="profile" type="AccessObject"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPortAccessObjectResponse">
		<xsd:annotation>
			<xsd:documentation>(Not Used).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="profile" type="AccessObject"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VacmAccessEntry">
		<xsd:annotation>
			<xsd:documentation>
			Access rights configuration for SNMP content.
			<br/>
			NOTE: This is modelled similar to vacmAccessEntry defined in 
			SNMP-VIEW-BASED-ACM-MIB (RFC 2575). Please refer to the RFC for a detailed
			description of the attributes.
			; Version : EXOS 12.0, Access : READ</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="vacmGroupName" type="common:StringLen32" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Group name.; Version : EXOS 12.0, Access : READ, INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="vacmAccessContextMatch" type="ContextMatches" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Context match indicating whether match is exact or for prefix.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="vacmAccessContextPrefix" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Context prefix.; Version : EXOS 12.0, Access : READ,INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="vacmAccessSecurityModel" type="SecurityModels" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Security model.; Version : EXOS 12.0, Access : READ,INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="vacmAccessSecurityLevel" type="SecurityLevels" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Minimum security level required to gain access rights.; Version : EXOS 12.0, Access : READ,INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="vacmAccessWriteViewName" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>MIB view name that defines scope of write access.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="vacmAccessReadViewName" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>MIB view name that defines scope of read access.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="vacmAccessNotifyViewName" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>MIB view name that defines scope of notification access.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
