SDK/api/xsd/vlan.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--THE INFORMATION AND SPECIFICATIONS IN THIS MANUAL REGARDING EXTREME NETWORKS DEVELOPER 
KIT ARE SUBJECT TO CHANGE WITHOUT NOTICE.  ALL STATEMENTS, INFORMATION, AND RECOMMENDATIONS IN THIS MANUAL
ARE PRESENTED WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED.  YOU TAKE FULL RESPONSIBILITY FOR YOUR USE
OF THE DEVELOPER KIT AND THE INFORMATION IN THIS MANUAL.
                
THE DEVELOPER KIT IS LICENSED TO YOU UNDER THE THEN-CURRENT LICENSE TERMS FOR THE  DEVELOPER KIT IN EFFECT AT 
THE TIME THE DEVELOPER KIT IS PROVIDED TO YOU BY EXTREME NETWORKS. PLEASE CONTACT EXTREME NETWORKS IF YOU DO
NOT HAVE A COPY OF THE LICENSE TERMS.  USE OF THE DEVELOPER KIT AND THIS MANUAL CONSTITUTES YOUR ACCEPTANCE 
OF THE DEVELOPER KIT LICENSE TERMS.-->

<!--

*

*  Copyright (c) Extreme Networks Inc.  2005,2006

*  All rights reserved 

*

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.extremenetworks.com/XMLSchema/xos/vlan" xmlns:common="http://www.extremenetworks.com/XMLSchema/xos/common" xmlns:vlan="http://www.extremenetworks.com/XMLSchema/xos/vlan" xmlns:port="http://www.extremenetworks.com/XMLSchema/xos/port" xmlns:l2protocol="http://www.extremenetworks.com/XMLSchema/xos/l2protocol" xmlns:dhcp="http://www.extremenetworks.com/XMLSchema/xos/dhcp" targetNamespace="http://www.extremenetworks.com/XMLSchema/xos/vlan" version="A.B.C.D">
	<xsd:import namespace="http://www.extremenetworks.com/XMLSchema/xos/common" schemaLocation="./common.xsd"/>
	<xsd:import namespace="http://www.extremenetworks.com/XMLSchema/xos/port" schemaLocation="./port.xsd"/>
	<xsd:import namespace="http://www.extremenetworks.com/XMLSchema/xos/l2protocol" schemaLocation="./l2protocol.xsd"/>
	<xsd:import namespace="http://www.extremenetworks.com/XMLSchema/xos/dhcp" schemaLocation="./dhcp.xsd"/>
	<xsd:complexType name="L3ProtocolList">
		<xsd:annotation>
			<xsd:documentation>
			(Not Used)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="protocolName" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ProtocolTypes">
		<xsd:annotation>
			<xsd:documentation>Enumeration of protocol types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="ANY"/>
			<xsd:enumeration value="etype"/>
			<xsd:enumeration value="llc"/>
			<xsd:enumeration value="snap"/>
			<xsd:enumeration value="na"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VlanTagTypes">
		<xsd:annotation>
			<xsd:documentation>Enumeration of VLAN tag types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="Untagged"/>
			<xsd:enumeration value="802dot1Q"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PVlanTypes">
		<xsd:annotation>
			<xsd:documentation>Enumeration of Private VLAN types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="network"/>
			<xsd:enumeration value="nonIsolated"/>
			<xsd:enumeration value="isolated"/>
			<xsd:enumeration value="subscriber"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VlanTypes">
		<xsd:annotation>
			<xsd:documentation>Enumeration of VLAN types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="mgmt"/>
			<xsd:enumeration value="backPlane"/>
			<xsd:enumeration value="default"/>
			<xsd:enumeration value="userCreated"/>
			<xsd:enumeration value="mac"/>
			<xsd:enumeration value="vman"/>
			<xsd:enumeration value="apiCreated"/>
		</xsd:restriction>
	</xsd:simpleType>
  <xsd:simpleType name="Dot1ahModes">
    <xsd:annotation>
    	<xsd:documentation>Enumeration of Dot1ahModes.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="service"/>
      <xsd:enumeration value="backbone"/>
      <xsd:enumeration value="notApplicable"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:complexType name="ProtocolData">
		<xsd:annotation>
			<xsd:documentation>Protocol data.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="type" type="ProtocolTypes" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Supported protocol types.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="value" type="common:StringLen8" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Supported protocol hex values.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Protocol">
		<xsd:annotation>
			<xsd:documentation>Protocol configuration.; Version : EXOS 12.0, Access : READ</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="protoName" type="common:StringLen32" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Name of the protocol ; Version : EXOS 12.0, Access : READ,INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="protoData" type="ProtocolData" minOccurs="0" maxOccurs="16">
						<xsd:annotation>
							<xsd:documentation>Protocol information.; Version : EXOS 12.0, Access : READ,INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="BPDUs">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="dot1d"/>
			<xsd:enumeration value="emistp"/>
			<xsd:enumeration value="pvst_plus"/>
			<xsd:enumeration value="na"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PortTagged">
		<xsd:annotation>
			<xsd:documentation>(Not Used)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="portList" type="common:StringLen16" minOccurs="0"/>
			<xsd:element name="taggedEnabled" type="xsd:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VirtualRouter">
		<xsd:annotation>
			<xsd:documentation>VR configuration. ; Version : EXOS 12.0, Access : READ</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="vrName" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Name of the  VR; Version : EXOS 12.0, Access : READ,INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="VlanConfig">
		<xsd:annotation>
			<xsd:documentation>
			VLAN configuration. 
			<br/>
			NOTE: There can be hundreds of VLANs configured on a switch. In these
			cases it is recommended that the paging mechanism available with <code>getRequest</code>
			be used when fetching all the VLANs from the switch. 
			; Version : vlan, Access : READ,INDEX</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="name" type="common:StringLen32" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Name of the VLAN.; Version : EXOS 12.0, Access : READ,WRITE, CREATE, DELETE, INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="adminState" type="l2protocol:AdminStates" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Admin state of the VLAN.; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="tagValue" type="common:uint16_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>VLAN tag; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="tagType" type="VlanTagTypes" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>VLAN tag type. Supported types are  802.1Q and Untagged.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="vrName" type="common:StringLen32" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The VR for this VLAN.; Version : EXOS 12.0, Access : READ,WRITE,CREATE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ipArpGraciaciousProtectionEnabled" type="xsd:boolean" minOccurs="0"> 
						<xsd:annotation>
							<xsd:documentation>Indicates whether gratuitous ARP protection is enabled; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="vlanTaggedPorts" type="common:StringLen16" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
							List of tagged ports in this VLAN. This is a comma-separated list of ports or port ranges.
							For example, "1:1, 1:3, 2:1-2:3" means that ports 1:1, 1:3, 2:1,2:2,2:3 are part of this VLAN.
							; Version : EXOS 12.0, Access : READ, WRITE, CREATE, DELETE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="vlanUnTaggedPorts" type="common:StringLen16" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
							List of untagged ports in this VLAN. This is a comma-separated list of ports or port ranges.
							For example, "1:1, 1:3, 2:1-2:3" means that ports 1:1, 1:3, 2:1,2:2,2:3 are part of this VLAN.
							; Version : EXOS 12.0, Access : READ, WRITE, CREATE, DELETE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="vlanTranslatedPorts" type="common:StringLen16" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
							List of translated ports in this VLAN. This is a comma-separated list of ports or port ranges.
							For example, "1:1, 1:3, 2:1-2:3" means that ports 1:1, 1:3, 2:1,2:2,2:3 are part of this VLAN.
							; Version : EXOS 12.1, Access : READ, WRITE, CREATE, DELETE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="newName" type="common:StringLen32" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
							Used to rename a VLAN. Since <code>name</code> is an index for <code>VlanConfig</code>,
							the procedure to rename a VLAN is to use the  <code>setRequest</code> operation with <code>name</code>
							set to the current name and <code>newName</code> set to the new name.
							; Version : EXOS 12.0, Access : WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ipv4ForwardingEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether IPv4 forwarding is enabled.; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ipv6ForwardingEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether IPv6 forwarding is enabled.; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="primaryIpv6Address" type="common:IPV6Address" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Primary IPv6 address of the VLAN.; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="primaryIpv4Address" type="common:IPAddressNetMask" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Primary IPv4 address of the VLAN.; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="secondaryIpv4Address" type="common:IPAddressNetMask" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Set of secondary IPv4 ipaddresses.; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="protocol" type="common:StringLen32" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Configured protocols; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="stpdNames" type="common:StringLen32" minOccurs="0" maxOccurs="512">
						<xsd:annotation>
							<xsd:documentation>STP domain names; Version : EXOS 12.0, Access : READ </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="loopbackEnabled" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether loopback is enabled; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="udpProfile" type="common:StringLen16" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>UDP profile; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="qosProfile" type="port:QoSProfiles" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>QoS profile; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dhcpEnable" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether DHCP is enabled; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dhcpConfig" type="dhcp:DHCPConfig" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>DHCP server config; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="totalNumberOfPorts" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Total number of ports in the VLAN.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ipMtu" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation> ; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="flags" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
							Provides the various states and options of the VLAN a concise format. Please refer
							the "Concepts Guide" and "Command Reference" for a detailed explanation of the
							format for the flags.
							; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="activePorts" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Number of active ports; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					 </xsd:element>
					<xsd:element name="eui64" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation> EUI64 IPv6 address; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--	<xsd:element name="ipv6LinkLocalEnabled" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation> Local link address; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>-->
					<xsd:element name="isEndPoint" type="common:YesNo" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether the tagged port is an end-point. The tagged port can be an end-point only if it is a Network VLAN. It refers to a private-VLAN port to connect to any device but not expand private-VLAN across switches; Version : EXOS 12.1, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="vlanType" type="VlanTypes" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>VLAN type.; Version : EXOS 12.1, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					 </xsd:element>
					<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="VlanTranslateMemberConfig">
		<xsd:annotation>
			<xsd:documentation>VLAN translation configuration used to manage the members participating in VLAN translation.; Version : EXOS 12.1, Access : READ,WRITE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="memberVlan" type="common:StringLen32" minOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Name of the VLAN.; Version : EXOS 12.1, Access : READ, WRITE, INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
                    <xsd:element name="translationVlan" type="common:StringLen32" minOccurs="1">
                        <xsd:annotation>
                             <xsd:documentation>Translation VLAN ; Version : EXOS 12.1, Access : READ, WRITE, INDEX</xsd:documentation>
                         </xsd:annotation>
                    </xsd:element>
					<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="VlanAggregateMemberConfig">
		<xsd:annotation>
			<xsd:documentation>VLAN aggregation configuration used to manage members participating in VLAN aggregation.; Version : EXOS 12.1, Access : READ, WRITE, INDEX</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="subVlan" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Sub VLAN; Version : EXOS 12.1, Access : READ,WRITE,INDEX</xsd:documentation>
						</xsd:annotation>
					 </xsd:element>
					<xsd:element name="superVlan" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Super VLAN; Version : EXOS 12.1, Access : READ,WRITE,INDEX</xsd:documentation>
						</xsd:annotation>
					 </xsd:element>
					<xsd:element name="ipRange1" type="common:IPAddress" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>IP address range start address, default value is 0.0.0.0; Version : EXOS 12.1, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ipRange2" type="common:IPAddress" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>IP address range end address, default value is 0.0.0.0 ; Version : EXOS 12.1, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="subVlanProxyArpEnabled" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether Sub-VLAN proxy ARP is enabled; Version : EXOS 12.1, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
                                        <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
                                        <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                                </xsd:sequence>
                                <xsd:attribute ref="common:operation"/>
                                <xsd:anyAttribute namespace="##any" processContents="lax"/>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="PrivateVlanMemberConfig">
                <xsd:annotation>
                        <xsd:documentation>Private VLAN configuration used to manage the members participating in a private VLAN.; Version : EXOS 12.1, Access : READ, WRITE</xsd:documentation>
                </xsd:annotation>
                <xsd:complexContent>
                        <xsd:extension base="common:ExosBase">
                                <xsd:sequence>
                                        <xsd:element name="vlanName" type="common:StringLen32" minOccurs="1">
                                                <xsd:annotation>
                                                        <xsd:documentation>VLAN name ; Version : EXOS 12.1, Access : READ,WRITE,INDEX</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="pvlanName" type="common:StringLen32" minOccurs="1">
                                                <xsd:annotation>
                                                        <xsd:documentation>Private VLAN name ; Version : EXOS 12.1, Access : READ,WRITE,INDEX</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="type" type="PVlanTypes" minOccurs="1">
                                                <xsd:annotation>
                                                        <xsd:documentation>VLAN Type, which can be network or subscriber, for deletes, isolated or nonIsolated for adds. The PVLAN is incomplete without the network VLAN or a subscriber VLAN; Version : EXOS 12.1, Access : READ,WRITE,INDEX</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
                                        <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                                </xsd:sequence>
                                <xsd:attribute ref="common:operation"/>
                                <xsd:anyAttribute namespace="##any" processContents="lax"/>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
	<xsd:complexType name="RateLimit">
		<xsd:annotation>
			<xsd:documentation>(Not Used) Rate limit</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="limitLearning" type="common:uint32_t" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>(Not Used) Rate limit; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lockLearning" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> ; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="unlimitedLearning" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="unlockLearning" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> ; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
  <xsd:complexType name="IsidService">
    <xsd:annotation>
      <xsd:documentation>Isid Service Information; Version : EXOS 12.4.0.1, Access : READ,WRITE</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="common:ExosBase">
        <xsd:sequence>
          <xsd:element name="name" type="common:StringLen32" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Name of the Isid; Version : EXOS 12.4.0.1, Access : READ,INDEX</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="value" type="common:uint32_t" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Value of the Isid ; Version : EXOS 12.4.0.1, Access : READ</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="totalNumOfSvlans" type="common:uint32_t" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Number of SVlans associated with the Isid; Version : EXOS 12.4.0.1, Access : READ</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="totalNumOfCvlans" type="common:uint32_t" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Number of CVlans associated with the Isid; Version : EXOS 12.4.0.1, Access : READ</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="totalNumOfServices" type="common:uint32_t" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Number of Services associated with the Isid; Version : EXOS 12.4.0.1, Access : READ</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="bvlanName" type="common:StringLen32" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>bvlan associated with the Isid; Version : EXOS 12.4.0.1, Access : READ</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute ref="common:operation"/>
        <xsd:anyAttribute namespace="##any" processContents="lax"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CustomerVlanConfig">
    <xsd:annotation>
      <xsd:documentation>CustomerVlan configuration.; Version : EXOS 12.4.0.1, Access : READ</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="common:ExosBase">
        <xsd:sequence>
          <xsd:element name="vlanName" type="common:StringLen32" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>VLAN NAME ; Version : EXOS 12.4.0.1, Access : READ,INDEX</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="isidName" type="common:StringLen32" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Name of the isid ; Version : EXOS 12.4.0.1, Access : READ,INDEX</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <!-- vlanType is a string type as enums types have Backward compatibilty issues -->
          <xsd:element name="vlanType" type="common:StringLen32" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>VLAN type.; Version : EXOS 12.4.0.1, Access : READ</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="isidValue" type="common:uint32_t" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Isid Vlaue; Version : EXOS 12.4.0.1, Access : READ</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute ref="common:operation"/>
        <xsd:anyAttribute namespace="##any" processContents="lax"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Service">
    <xsd:annotation>
    	<xsd:documentation>Isid Service Information</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="isidName" type="common:StringLen32" minOccurs="0">
        <xsd:annotation>
        	<xsd:documentation>Isid Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isidValue" type="common:uint32_t" minOccurs="0">
        <xsd:annotation>
        	<xsd:documentation>Isid VLaue</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BackboneVlanConfig">
    <xsd:annotation>
      <xsd:documentation>Backbone Vlan Configuration; Version : EXOS 12.4.0.1, Access : READ</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="common:ExosBase">
        <xsd:sequence>
          <xsd:element name="name" type="common:StringLen32" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Name of the bvlan ; Version : EXOS 12.4.0.1, Access : READ,INDEX</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="service" type="Service" minOccurs="0"  maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>Isid Service Information; Version : EXOS 12.4.0.1, Access : READ,INDEX</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute ref="common:operation"/>
        <xsd:anyAttribute namespace="##any" processContents="lax"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
	<xsd:complexType name="AccessObject">
		<xsd:annotation>
			<xsd:documentation>
			(Internal Use)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="vlanConfig" type="VlanConfig"/>
			<xsd:element name="virtualRouter" type="VirtualRouter"/>
			<xsd:element name="protocol" type="Protocol"/>
			<xsd:element name="privateVlanMemberConfig" type="PrivateVlanMemberConfig"/>
			<xsd:element name="vlanAggregateMemberConfig" type="VlanAggregateMemberConfig"/>
			<xsd:element name="vlanTranslateMemberConfig" type="VlanTranslateMemberConfig"/>
  			<xsd:element name="isidService" type="IsidService"/>
     			<xsd:element name="customerVlanConfig" type="CustomerVlanConfig"/>
      			<xsd:element name="backboneVlanConfig" type="BackboneVlanConfig"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="getPortAccessObjectRequest">
		<xsd:annotation>
			<xsd:documentation>
			(Not Used)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="profile" type="AccessObject"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPortAccessObjectResponse">
		<xsd:annotation>
			<xsd:documentation>
			(Not Used)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="profile" type="objectList"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="objectList">
		<xsd:annotation>
			<xsd:documentation>
			(Internal Use)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="moduleObject" type="AccessObject" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
