Switch_Engine/SDK/api/xsd/aaa.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--THE INFORMATION AND SPECIFICATIONS IN THIS MANUAL REGARDING EXTREME NETWORKS DEVELOPER 
KIT ARE SUBJECT TO CHANGE WITHOUT NOTICE.  ALL STATEMENTS, INFORMATION, AND RECOMMENDATIONS IN THIS MANUAL
ARE PRESENTED WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED.  YOU TAKE FULL RESPONSIBILITY FOR YOUR USE
OF THE DEVELOPER KIT AND THE INFORMATION IN THIS MANUAL.
                
THE DEVELOPER KIT IS LICENSED TO YOU UNDER THE THEN-CURRENT LICENSE TERMS FOR THE  DEVELOPER KIT IN EFFECT AT 
THE TIME THE DEVELOPER KIT IS PROVIDED TO YOU BY EXTREME NETWORKS. PLEASE CONTACT EXTREME NETWORKS IF YOU DO
NOT HAVE A COPY OF THE LICENSE TERMS.  USE OF THE DEVELOPER KIT AND THIS MANUAL CONSTITUTES YOUR ACCEPTANCE 
OF THE DEVELOPER KIT LICENSE TERMS.-->

<!--
*
*  Copyright (c) Extreme Networks Inc.  2005,2006
*  All rights reserved 
*
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.extremenetworks.com/XMLSchema/xos/aaa" xmlns:common="http://www.extremenetworks.com/XMLSchema/xos/common" xmlns:aaa="http://www.extremenetworks.com/XMLSchema/xos/aaa" targetNamespace="http://www.extremenetworks.com/XMLSchema/xos/aaa" version="A.B.C.D">
	<xsd:import namespace="http://www.extremenetworks.com/XMLSchema/xos/common" schemaLocation="./common.xsd"/>
	<xsd:simpleType name="ServerTypes">
		<xsd:annotation>
			<xsd:documentation>Enumeration of server types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="authentication"/>
			<xsd:enumeration value="accounting"/>
			<xsd:enumeration value="na"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ServerRoles">
		<xsd:annotation>
			<xsd:documentation>Enumeration of server roles.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="primary"/>
			<xsd:enumeration value="secondary"/>
			<xsd:enumeration value="na"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MgmtTypes">
		<xsd:annotation>
			<xsd:documentation>Enumeration of management server types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="mgmt"/>
			<xsd:enumeration value="netlogin"/>
			<xsd:enumeration value="na"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SessionType">
		<xsd:annotation>
			<xsd:documentation>Enumeration of session types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="console_local"/>
			<xsd:enumeration value="console_remote"/>
			<xsd:enumeration value="telnet"/>
			<xsd:enumeration value="ssh2"/>
			<xsd:enumeration value="xml"/>
			<xsd:enumeration value="na"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AuthorizationType">
		<xsd:annotation>
			<xsd:documentation>Enumeration of autherization types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="local"/>
			<xsd:enumeration value="radius"/>
			<xsd:enumeration value="tacacs"/>
			<xsd:enumeration value="na"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PasswordPolicy">
		<xsd:annotation>
			<xsd:documentation>
			Represents the default password policy applied to new user accounts.
			; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="maxAge" type="common:uint16_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The maximum number of days for a password to remain valid.; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="length" type="common:uint8_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The maximum number of characters in a password.; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="historyLimit" type="common:uint8_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The number of previous passwords that the switch scans prior to validating a new password.; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="lockOnLoginFailureEnabled" type="common:TrueFalse"  minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
							Indicates whether lockout on login failures in enabled. 
							If enabled, the system locks out users after 3 failed login attempts.
							; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="charValidationEnabled" type="common:TrueFalse"  minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
							Indicates whether characters in the password are validated. If set to true,
							it enforces specific formats for the password. 
							<br/>
							Please refer to <code>configure account password-policy char-validation</code> in the 
							"EXOS Concepts Guide" for a detailed description of this validation.
							; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UserAccount">
		<xsd:annotation>
			<xsd:documentation>User account configuration. This object is used to configure local user accounts on the switch.; Version : EXOS 12.0, Access : READ, WRITE, CREATE, DELETE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="userName" type="common:StringLen32" minOccurs="0" >
						<xsd:annotation>
							<xsd:documentation>Name of the user.; Version : EXOS 12.0, Access : READ,CREATE,INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="password" type="common:StringLen32" minOccurs="0" >
						<xsd:annotation>
							<xsd:documentation>User's password.; Version : EXOS 12.0, Access : CREATE,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="access" type="common:AccessRight" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Access rights for the user.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--	<xsd:element name="accountLockedEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Shows whether account is locked out. ; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>-->
					<xsd:element name="noOfLoginSuccess" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Number of successful logins using this user account.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="noOfLoginFailures" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Number of failed logins using this user account.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="expiryDate" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Password expiry date.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="passwordPolicy" type="PasswordPolicy" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Password policy for this user account. This is used to set a password policy that is different than the default policy.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="accountLockedOut" type="common:YesNo" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Lock or Unlock account; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BasicServerConfig">
		<xsd:annotation>
			<xsd:documentation>
			Basic AAA server configuration. Defines the basic settings for AAA configuration.
			<br/>
			NOTE: Though this object extends from <code>ExosBase</code>, it cannot be used in messages such as <code>getRequest</code>, 
			<code>setRequest</code>, <code>createRequest</code>, <code>deleteRequest</code>.
			; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="ipAddress" type="common:IPAddress" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Server IP address.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="name" type="common:StringLen32" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Server host name.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="portNumber" type="common:uint16_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Port number.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="clientIpAddress" type="common:IPAddress" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Client IP address used by the switch to identify itself when communicating with the server.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="vr" type="common:StringLen8" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>VR on which the client IP address is located.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="sharedSecret" type="common:StringLen8" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Shared secret used by the switch to authenticate itself with the server.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="serverRole" type="ServerRoles" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Specifies whether this configuration is for the primary or secondary server.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AuthorizationServerConfig">
		<xsd:annotation>
			<xsd:documentation>
			Basic AAA authentication server configuration. Defines the basic settings for AAA authentication configuration.
			<br/>
			NOTE: Though this object extends from <code>ExosBase</code>, it cannot be used in messages such as <code>getRequest</code>, 
			<code>setRequest</code>, <code>createRequest</code>, <code>deleteRequest</code>.
			; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BasicServerConfig">
				<xsd:sequence>
					<xsd:element name="accessRequests" type="common:uint32_t"  minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Number of access requests.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="accessAccepts" type="common:uint32_t"  minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Number of access requests that were accepted.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="accessRejects" type="common:uint32_t"  minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Number of access requests that were rejected.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="accessChallenges" type="common:uint32_t"  minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Number of access requests that were challenged.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="accessRetransmits" type="common:uint32_t"  minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Number of requests retransmitted</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="timeout" type="common:uint32_t"  minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Client timeout in seconds.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="badAuthenticators" type="common:uint32_t"  minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Number of requests rejected because of bad authentication</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="unknownTypes" type="common:uint32_t"  minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Number of unknown types request</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="roundTripTime" type="common:uint32_t"  minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Last round trip timeout between client and server</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AccountServerConfig">
		<xsd:annotation>
			<xsd:documentation>
			Basic AAA accounting server configuration. Defines the basic settings for AAA accounting configuration.
			<br/>
			NOTE: Though this object extends from <code>ExosBase</code>, it cannot be used in messages such as <code>getRequest</code>, 
			<code>setRequest</code>, <code>createRequest</code>, <code>deleteRequest</code>.
			; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BasicServerConfig">
				<xsd:sequence>
					<xsd:element name="accountRequests" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Number of accounting requests.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="accountResponses" type="common:uint32_t"  minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Number of accounting responses.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="accountRetransmits" type="common:uint32_t"  minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Number of accounting retransmits.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="timeout" type="common:uint32_t"  minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Client timeout in seconds.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MgmtAuthServerConfig">
		<xsd:annotation>
			<xsd:documentation>Management AAA authentication server configuration.; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="serverEnabled" type="common:TrueFalse" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indicates whether this server configuration is enabled.; Version : EXOS 12.0, Access : READ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="serverTimeout" type="common:uint32_t" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Timeout in seconds.; Version : EXOS 12.0, Access : READ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--xsd:sequence minOccurs="0" maxOccurs="2"-->
			<xsd:element name="mgmtAuthServer" type="AuthorizationServerConfig" minOccurs="0" maxOccurs="2">
				<xsd:annotation>
					<xsd:documentation>
					Authentication server configuration. There can be 2 occurances- one for the primary server and the other for the secondary server.
					; Version : EXOS 12.0, Access : READ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--/xsd:sequence-->
			<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
	</xsd:complexType>
	<xsd:complexType name="MgmtAccountServerConfig">
		<xsd:annotation>
			<xsd:documentation>Management AAA accounting server configuration.; Version : EXOS 12.0, Access : READ</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="serverEnabled" type="common:TrueFalse" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indicates whether this server configuration is enabled.; Version : EXOS 12.0, Access : READ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="serverTimeout" type="common:uint32_t" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Timeout in seconds.; Version : EXOS 12.0, Access : READ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--xsd:sequence minOccurs="0" maxOccurs="2"-->
			<xsd:element name="mgmtAccountServer" type="AccountServerConfig" minOccurs="0" maxOccurs="2">
				<xsd:annotation>
					<xsd:documentation>
					Accounting server configuration. There can be 2 occurances- one for the primary server and the other for the secondary server.
					; Version : EXOS 12.0, Access : READ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--/xsd:sequence-->
			<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
			<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute ref="common:operation"/>
		<xsd:anyAttribute namespace="##any" processContents="lax"/>
	</xsd:complexType>
	<xsd:complexType name="RadiusConfig">
		<xsd:annotation>
			<xsd:documentation>RADIUS configuration.; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="mgmtAuthServerConfig" type="MgmtAuthServerConfig"  minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Management authentication server configuration.; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="mgmtAccountServerConfig" type="MgmtAccountServerConfig"  minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Management accounting server configuration.; Version : EXOS 12.0, Access : READ, WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--xsd:element name="netloginAuthServer"  type="MgmtAuthServerConfig">
					
					</xsd:element>
					
					<xsd:element name="netloginAccountServer"  type="MgmtAccountServerConfig" >
					</xsd:element-->
				<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TACACSConfig">
		<xsd:annotation>
			<xsd:documentation>TACACS configuration.; Version : EXOS 12.0, Access : READ, WRITE </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="cliAuthEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether authorization for CLI commands is enabled.; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="authServerEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether authentication server configuration is enabled.; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="authServerTimeout" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation> Timeout in seconds.; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--xsd:sequence minOccurs="0" maxOccurs="2"-->
					<xsd:element name="authServer" type="BasicServerConfig" minOccurs="0" maxOccurs="2">
						<xsd:annotation>
							<xsd:documentation>
							Authentication server configuration. There can be 2 occurances- one for the primary server and the other for the secondary server.
							; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--/xsd:sequence-->
					<xsd:element name="accountServerEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether accounting server configuration is enabled.; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="accountServerTimeout" type="common:uint8_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Timeout in seconds.; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--xsd:sequence minOccurs="0" maxOccurs="2"-->
					<xsd:element name="accountServer" type="BasicServerConfig" minOccurs="0" maxOccurs="2">
						<xsd:annotation>
							<xsd:documentation>
							Accounting server configuration. There can be 2 occurances- one for the primary server and the other for the secondary server.
							; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--/xsd:sequence-->
				<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Session">
		<xsd:annotation>
			<xsd:documentation>CLI or XML session active on the switch. This is used to query all the sessions active on a switch.; Version : EXOS 12.0, Access : READ, DELETE </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="Id" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Session ID.; Version : EXOS 12.0, Access : READ,DELETE, INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="loginTime" type="common:StringLen32"  minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Login time of the session.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="userName" type="common:StringLen32" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>User logged in for the session.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="sessionType" type="SessionType"  minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Type of session.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="authorizationType" type="AuthorizationType"  minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates how the user is logged in.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="opAuthEnabled" type="common:TrueFalse" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicates whether authorization for CLI commands is enabled.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="clientIpAddress" type="common:IPAddress"  minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>IP address of the user's machine.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="idleTime" type="common:uint32_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Idle time of client.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="currSessionStatus" type="common:TrueFalse"  minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicate the current session; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SessionHistory">
		<xsd:annotation>
			<xsd:documentation>Session history. This can be used to get a historical record of all sessions that were opened.; Version : EXOS 12.0, Access : READ </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:ExosBase">
				<xsd:sequence>
					<xsd:element name="lineNumber" type="common:uint16_t" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>History record number; Version : EXOS 12.0, Access : READ,INDEX</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="detail" type="common:StringLen256" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Session details. Returned as a formatted string with all details from <code>Session</code>.; Version : EXOS 12.0, Access : READ</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				<xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
					<xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="common:operation"/>
				<xsd:anyAttribute namespace="##any" processContents="lax"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AccessObject">
		<xsd:annotation>
			<xsd:documentation>
			(Internal Use)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="tACACSConfig" type="aaa:TACACSConfig"/>
			<xsd:element name="radiusConfig" type="aaa:RadiusConfig"/>
			<xsd:element name="passwordPolicy" type="aaa:PasswordPolicy"/>
			<xsd:element name="userAccount" type="aaa:UserAccount"/>
			<xsd:element name="session" type="aaa:Session"/>
			<xsd:element name="sessionHistory" type="aaa:SessionHistory"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="getPortAccessObjectRequest">
		<xsd:annotation>
			<xsd:documentation>
			(Not Used)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="profile" type="AccessObject"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPortAccessObjectResponse">
		<xsd:annotation>
			<xsd:documentation>
			(Not Used)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="profile" type="objectList"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="objectList">
		<xsd:annotation>
			<xsd:documentation>
			(Not Used)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="moduleObject" type="AccessObject" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="IPAddress" type="common:IPAddress"/>
</xsd:schema>
