Switch_Engine/SDK/api/xsd/ipfix.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--THE INFORMATION AND SPECIFICATIONS IN THIS MANUAL REGARDING EXTREME NETWORKS DEVELOPER 
KIT ARE SUBJECT TO CHANGE WITHOUT NOTICE.  ALL STATEMENTS, INFORMATION, AND RECOMMENDATIONS IN THIS MANUAL
ARE PRESENTED WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED.  YOU TAKE FULL RESPONSIBILITY FOR YOUR USE
OF THE DEVELOPER KIT AND THE INFORMATION IN THIS MANUAL.
                
THE DEVELOPER KIT IS LICENSED TO YOU UNDER THE THEN-CURRENT LICENSE TERMS FOR THE  DEVELOPER KIT IN EFFECT AT 
THE TIME THE DEVELOPER KIT IS PROVIDED TO YOU BY EXTREME NETWORKS. PLEASE CONTACT EXTREME NETWORKS IF YOU DO
NOT HAVE A COPY OF THE LICENSE TERMS.  USE OF THE DEVELOPER KIT AND THIS MANUAL CONSTITUTES YOUR ACCEPTANCE 
OF THE DEVELOPER KIT LICENSE TERMS.-->

<!--
*
*  Copyright (c) Extreme Networks Inc.  2010,2010
*  All rights reserved
*
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.extremenetworks.com/XMLSchema/xos/ipfix" xmlns:common="http://www.extremenetworks.com/XMLSchema/xos/common" xmlns:ipfix="http://www.extremenetworks.com/XMLSchema/xos/ipfix" targetNamespace="http://www.extremenetworks.com/XMLSchema/xos/ipfix" version="A.B.C.D">
    <xsd:import namespace="http://www.extremenetworks.com/XMLSchema/xos/common" schemaLocation="./common.xsd"/>
    <xsd:simpleType name="TransportTypes">
        <xsd:annotation>
        	<xsd:documentation>Transport Layer protocol used to communicate to the IPFIX Collector.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unknown"/>
            <xsd:enumeration value="UDP"/>
            <xsd:enumeration value="TCP"/>
            <xsd:enumeration value="SCTP"/>
            <xsd:enumeration value="na"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="CollectorSocketStatusTypes">
        <xsd:annotation>
        	<xsd:documentation>The status of the socket connection to the Collector. For UDP, this is N/A. For TCP or SCTP, this is Connected or Disconnected.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unknown"/>
            <xsd:enumeration value="disconnected"/>
            <xsd:enumeration value="connected"/>
            <xsd:enumeration value="na"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="FeatureStatusTypes">
        <xsd:annotation>
        	<xsd:documentation>Enumeration of feature status.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unknown"/>
            <xsd:enumeration value="enabled"/>
            <xsd:enumeration value="disabled"/>
            <xsd:enumeration value="na"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="IpfixIPv4FlowKeyType">
        <xsd:annotation>
        	<xsd:documentation>Enumeration of IPFIX flow key types for IPv4 flows.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unknown"/>
            <xsd:enumeration value="source-ipaddress"/>
            <xsd:enumeration value="source-port"/>
            <xsd:enumeration value="dest-ipaddress"/>
            <xsd:enumeration value="dest-port"/>
            <xsd:enumeration value="protocol"/>
            <xsd:enumeration value="typeOfService"/>
            <xsd:enumeration value="na"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="IpfixIPv6FlowKeyTypes">
        <xsd:annotation>
        	<xsd:documentation>Enumeration of IPFIX flow key types for IPv6 flows.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unknown"/>
            <xsd:enumeration value="source-ipaddress"/>
            <xsd:enumeration value="source-port"/>
            <xsd:enumeration value="dest-ipaddress"/>
            <xsd:enumeration value="dest-port"/>
            <xsd:enumeration value="nextHeader"/>
            <xsd:enumeration value="typeOfService"/>
            <xsd:enumeration value="label"/>
            <xsd:enumeration value="na"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="IpfixNonIPFlowKeyTypes">
        <xsd:annotation>
        	<xsd:documentation>Enumeration of IPFIX flow key types for Non-IP (L2-only) flows.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unknown"/>
            <xsd:enumeration value="source-MAC-address"/>
            <xsd:enumeration value="dest-MAC-address"/>
            <xsd:enumeration value="vlanID"/>
            <xsd:enumeration value="ethertype"/>
            <xsd:enumeration value="priority"/>
            <xsd:enumeration value="tagged"/>
            <xsd:enumeration value="na"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="RecordTypes">
        <xsd:annotation>
        	<xsd:documentation>Enumeration of IPFIX flow recording types.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unknown"/>
            <xsd:enumeration value="dropped-only"/>
            <xsd:enumeration value="non-dropped-only"/>
            <xsd:enumeration value="both"/>
            <xsd:enumeration value="na"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="FlowTypes">
        <xsd:annotation>
        	<xsd:documentation>Enumeration of IPFIX flow types.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unknown"/>
            <xsd:enumeration value="IPv4"/>
            <xsd:enumeration value="IPv6"/>
            <xsd:enumeration value="NonIP"/>
            <xsd:enumeration value="All"/>
            <xsd:enumeration value="na"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="FlowDirectionTypes">
        <xsd:annotation>
        	<xsd:documentation>Enumeration of IPFIX flow direction types.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unknown"/>
            <xsd:enumeration value="ingress"/>
            <xsd:enumeration value="egress"/>
            <xsd:enumeration value="ingress-and-egress"/>
            <xsd:enumeration value="na"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- IPFIX Global Data Object XML Definition Start -->
    <xsd:complexType name="IpfixGlobalData">
        <xsd:annotation>
            <xsd:documentation>
                The Global IPFIX parameters. This includes the global state the Domain ID, and all information associated with the Collector. 
                <br/>
            ; Version : EXOS 12.5, Access : READ, WRITE </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:ExosBase">
                <xsd:sequence>
                    <xsd:element name="ipfixEnabled" type="FeatureStatusTypes">
                        <xsd:annotation>
                            <xsd:documentation>Global IPFIX State for the Switch. This must be specified.
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="domainID" type="common:uint32_t" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation>Domain ID of the Switch. Each Switch can have its own IPFIX Domain ID that the Collector can use however it wishes. Default is 0.; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="agentIPAddress" type="common:IPAddress" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation>The optional Source IP Address for this IPFIX Agent. This can be used to override the default of using the Switch Management IP Address.
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="collectorIPAddress" type="common:IPAddress" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation>The IP Address of the IPFIX Collector that we are sending packets to. Note that it is possible to use IPFIX headless without a collector and use the EMS messages to monitor flows.
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="collectorVirtualRouter" type="common:StringLen32" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation>The optional Virtual Router to use to communicate to the IPFIX Collector. This can be used to override the default of using the Management VR.
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="collectorTransport" type="TransportTypes" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation> Transport used to connect to the Collector. Default is UDP, but can be TCP or SCTP.
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="collectorLayer4Port" type="common:uint16_t" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation> Layer 4 Port used to connect to the Collector. Default is 4739.
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                    <!-- IPv4 Flow Key Start -->
                    <xsd:element name="flowKeyIPv4SourceAddress" type="common:TrueFalse" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation> Controls whether or not the Source IP Address field in the IPv4 header is one of the Flow Keys for IPFIX 
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="flowKeyIPv4DestinationAddress" type="common:TrueFalse" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation> Controls whether or not the Destination IP Address field in the IPv4 header is one of the Flow Keys for IPFIX 
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="flowKeyIPv4SourcePort" type="common:TrueFalse" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation> Controls whether or not the Source Port field in the IPv4 header is one of the Flow Keys for IPFIX 
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="flowKeyIPv4DestinationPort" type="common:TrueFalse" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation> Controls whether or not the Destination Port field in the IPv4 header is one of the Flow Keys for IPFIX 
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="flowKeyIPv4Layer4Protocol" type="common:TrueFalse" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation> Controls whether or not the Layer 4 Protocol field in the IPv4 header is one of the Flow Keys for IPFIX 
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="flowKeyIPv4TypeOfService" type="common:TrueFalse" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation> Controls whether or not the Type of Service field in the IPv4 header is one of the Flow Keys for IPFIX 
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <!-- IPv4 Flow Key End -->

                    <!-- IPv6 Flow Key Start -->
                    <xsd:element name="flowKeyIPv6SourceAddress" type="common:TrueFalse" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation> Controls whether or not the Source IP Address field in the IPv6 header is one of the Flow Keys for IPFIX 
                ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="flowKeyIPv6DestinationAddress" type="common:TrueFalse" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation> Controls whether or not the Destination IP Address field in the IPv6 header is one of the Flow Keys for IPFIX 
                ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="flowKeyIPv6SourcePort" type="common:TrueFalse" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation> Controls whether or not the Source Port field in the IPv6 header is one of the Flow Keys for IPFIX 
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="flowKeyIPv6DestinationPort" type="common:TrueFalse" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation> Controls whether or not the Destination Port field in the IPv6 header is one of the Flow Keys for IPFIX 
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="flowKeyIPv6NextHeader" type="common:TrueFalse" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation> Controls whether or not the Next Header field in the IPv6 header is one of the Flow Keys for IPFIX 
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="flowKeyIPv6TypeOfService" type="common:TrueFalse" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation> Controls whether or not the Type of Service field in the IPv6 header is one of the Flow Keys for IPFIX 
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="flowKeyIPv6FlowLabel" type="common:TrueFalse" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation> Controls whether or not the Flow Label field in the IPv6 header is one of the Flow Keys for IPFIX 
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <!-- IPv6 Flow Key End -->

                    <!-- Non-IP Flow Key Start -->
                    <xsd:element name="flowKeyNonIpSourceMACAddress" type="common:TrueFalse" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation> Controls whether or not the Source MAC Address field in the L2 header is one of the Flow Keys for IPFIX 
                ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="flowKeyNonIpDestinationMACAddress" type="common:TrueFalse" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation> Controls whether or not the Destination MAC Address field in the L2 header is one of the Flow Keys for IPFIX 
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="flowKeyNonIpVlanId" type="common:TrueFalse" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation> Controls whether or not the VLAN ID Port field in the L2 header is one of the Flow Keys for IPFIX 
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="flowKeyNonIpEtherType" type="common:TrueFalse" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation> Controls whether or not the Ethertype field in the L2 header is one of the Flow Keys for IPFIX 
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="flowKeyNonIpPriority" type="common:TrueFalse" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation> Controls whether or not the Priority Protocol field in the L2 header is one of the Flow Keys for IPFIX 
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="flowKeyNonIpTagged" type="common:TrueFalse" minOccurs="0" >
                        <xsd:annotation>
                            <xsd:documentation> Controls whether or not the Tagged field in the L2 header is one of the Flow Keys for IPFIX 
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <!-- Non-IP Flow Key End -->

                    <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                </xsd:sequence>
                <xsd:attribute ref="common:operation"/>
                <xsd:anyAttribute namespace="##any" processContents="lax"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <!-- IPFIX Global Data Object XML Definition End -->

 
    <!-- IPFIX Port Data Object XML Definition Start -->
    <xsd:complexType name="IpfixPortData">
        <xsd:annotation>
            <xsd:documentation>
                The IPFIX Port parameters. 
            ; Version : EXOS 12.5, Access : READ, WRITE, CREATE </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:ExosBase">
                <xsd:sequence>
                    <xsd:element name="portList" type="common:StringLen8" minOccurs="0">
                        <xsd:annotation>
                                <xsd:documentation>
                                Port number. When referring to a single port
                                the value is just that port number.
                                <br/>
                                This is also used to specify a set of ports when setting the same configuration for 
                                multiple ports. In this case, the value is a comma separated list of ports or port ranges.
                                For example, "1:1, 1:3, 2:1-2:3" means ports 1:1, 1:3, 2:1,2:2,2:3.
                                ; Version : EXOS 12.5, Access : READ, WRITE, INDEX</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ipfixPortEnabled" type="FeatureStatusTypes">
                        <xsd:annotation>
                            <xsd:documentation>IPFIX State for the Port (or list). This must be specified.
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ipfixFlowDirection" type="FlowDirectionTypes">
                        <xsd:annotation>
                            <xsd:documentation> Flow Direction to Meter. This can be Ingress, Egress or Ingress-and-Egress. Default is Ingress only.
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ipfixFlowType" type="FlowTypes">
                        <xsd:annotation>
                            <xsd:documentation> Flow Type to Meter. IPv4, IPv6, NonIP (L2) or All. By default, all traffic types are metered.
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ipfixRecordType" type="RecordTypes">
                        <xsd:annotation>
                            <xsd:documentation> Dropped, Non-dropped, or Both. By default, all traffic is metered.
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ipfixFlowKeyIPv4SourceAddressMask" type="common:IPAddress">
                        <xsd:annotation>
                            <xsd:documentation> When the IPv4 Source Address is used as a Flow Key, this mask can control which bits are significant. This can be used to aggregate flows. For instance, you might use the subnet mask as the flow key mask to aggregate by subnet.
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ipfixFlowKeyIPv4DestinationAddressMask" type="common:IPAddress">
                        <xsd:annotation>
                            <xsd:documentation> When the IPv4 Destination Address is used as a Flow Key, this mask can control which bits are significant. This can be used to aggregate flows. For instance, you might use the subnet mask as the flow key mask to aggregate by subnet.
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ipfixFlowKeyIPv6SourceAddressMask" type="common:IPAddress">
                        <xsd:annotation>
                            <xsd:documentation> When the IPv6 Source Address is used as a Flow Key, this mask can control which bits are significant. This can be used to aggregate flows. For instance, you might use the subnet mask as the flow key mask to aggregate by subnet.
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ipfixFlowKeyIPv6DestinationAddressMask" type="common:IPAddress">
                        <xsd:annotation>
                            <xsd:documentation> When the IPv6 Destination Address is used as a Flow Key, this mask can control which bits are significant. This can be used to aggregate flows. For instance, you might use the subnet mask as the flow key mask to aggregate by subnet.
                            ; Version : EXOS 12.5, Access : READ, WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>


                    <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                </xsd:sequence>
                <xsd:attribute ref="common:operation"/>
                <xsd:anyAttribute namespace="##any" processContents="lax"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <!-- IPFIX Port Data Object XML Definition End -->

    <xsd:complexType name="objectList">
            <xsd:annotation>
                	<xsd:documentation>
                        (Internal Use)
                        </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                        <xsd:element name="moduleObject" type="AccessObject" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
    </xsd:complexType>

        <xsd:complexType name="AccessObject">
                <xsd:annotation>
                	<xsd:documentation>
                        (Internal Use)
                        </xsd:documentation>
                </xsd:annotation>
                <xsd:choice>
                        <xsd:element name="ipfixGlobalData" type="IpfixGlobalData"/>
                        <xsd:element name="ipfixPortData" type="IpfixPortData"/>
                </xsd:choice>
        </xsd:complexType>

</xsd:schema>
