EXOS/SDK/api/xsd/system.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--THE INFORMATION AND SPECIFICATIONS IN THIS MANUAL REGARDING EXTREME NETWORKS DEVELOPER 
KIT ARE SUBJECT TO CHANGE WITHOUT NOTICE.  ALL STATEMENTS, INFORMATION, AND RECOMMENDATIONS IN THIS MANUAL
ARE PRESENTED WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED.  YOU TAKE FULL RESPONSIBILITY FOR YOUR USE
OF THE DEVELOPER KIT AND THE INFORMATION IN THIS MANUAL.
                
THE DEVELOPER KIT IS LICENSED TO YOU UNDER THE THEN-CURRENT LICENSE TERMS FOR THE  DEVELOPER KIT IN EFFECT AT 
THE TIME THE DEVELOPER KIT IS PROVIDED TO YOU BY EXTREME NETWORKS. PLEASE CONTACT EXTREME NETWORKS IF YOU DO
NOT HAVE A COPY OF THE LICENSE TERMS.  USE OF THE DEVELOPER KIT AND THIS MANUAL CONSTITUTES YOUR ACCEPTANCE 
OF THE DEVELOPER KIT LICENSE TERMS.-->

<!--
*
*  Copyright (c) Extreme Networks Inc.  2005,2006
*  All rights reserved 
*
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.extremenetworks.com/XMLSchema/xos/system" xmlns:common="http://www.extremenetworks.com/XMLSchema/xos/common" xmlns:system="http://www.extremenetworks.com/XMLSchema/xos/snmp" targetNamespace="http://www.extremenetworks.com/XMLSchema/xos/system" version="A.B.C.D">
    <xsd:import namespace="http://www.extremenetworks.com/XMLSchema/xos/common" schemaLocation="./common.xsd"/>

        <xsd:simpleType name="PortStates">
        	<xsd:annotation>
        		<xsd:documentation>Enumeration of port states.</xsd:documentation>
        	</xsd:annotation>
                <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="unknown"/>
                        <xsd:enumeration value="LinkDown"/>                
                        <xsd:enumeration value="NoNeighbor"/>                
                        <xsd:enumeration value="Inhibited"/>                
                        <xsd:enumeration value="Overflow"/>                
                        <xsd:enumeration value="Operational"/>                
                        <xsd:enumeration value="na"/>
                </xsd:restriction>
        </xsd:simpleType>
        
        
        
        <xsd:simpleType name="StackingStates">
        	<xsd:annotation>
        		<xsd:documentation>Enumeration of stack states.</xsd:documentation>
        	</xsd:annotation>
                <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="unknown"/>
                        <xsd:enumeration value="Disabled"/>                
                        <xsd:enumeration value="Failed"/>                
                        <xsd:enumeration value="Overflow"/>                
                        <xsd:enumeration value="Listening"/>                
                        <xsd:enumeration value="Stabilizing"/>                
                        <xsd:enumeration value="Waiting"/>                
                        <xsd:enumeration value="Active"/>                
                        <xsd:enumeration value="na"/>
                </xsd:restriction>
        </xsd:simpleType>
        
        <xsd:simpleType name="EntityType">
        	<xsd:annotation>
        		<xsd:documentation>Enumeration of entity types.</xsd:documentation>
        	</xsd:annotation>
                <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="other"/>
                        <xsd:enumeration value="unknown"/>                
                        <xsd:enumeration value="chassis"/>                
                        <xsd:enumeration value="backplane"/>                
                        <xsd:enumeration value="container"/>                
                        <xsd:enumeration value="powerSupply"/>                
                        <xsd:enumeration value="fan"/>                
                        <xsd:enumeration value="sensor"/>                
                        <xsd:enumeration value="module"/>                
                        <xsd:enumeration value="port"/>                
                        <xsd:enumeration value="stack"/>                
                        <xsd:enumeration value="na"/>
                </xsd:restriction>
        </xsd:simpleType>

        <xsd:simpleType name="Topologies">
        	<xsd:annotation>
        		<xsd:documentation>Enumeration of stack topology types.</xsd:documentation>
        	</xsd:annotation>
                <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="unknown"/>
                        <xsd:enumeration value="Ring"/>                
                        <xsd:enumeration value="DaisyChain"/>                
                        <xsd:enumeration value="na"/>
                </xsd:restriction>
        </xsd:simpleType>


        <xsd:simpleType name="HW_States">
        		<xsd:annotation>
        			<xsd:documentation>Enumeration of hardware states.</xsd:documentation>
        		</xsd:annotation>
                <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="unknown"/>
                        <xsd:enumeration value="empty"/>
                        <xsd:enumeration value="power_on"/>
                        <xsd:enumeration value="failed"/>
                        <xsd:enumeration value="power_failed"/>
                        <xsd:enumeration value="present"/>
                        <xsd:enumeration value="operational"/>
                        <xsd:enumeration value="power_off"/>
                        <xsd:enumeration value="unsupported"/>
                        <xsd:enumeration value="invalid"/>
                        <xsd:enumeration value="na"/>
                </xsd:restriction>
        </xsd:simpleType>
        <xsd:simpleType name="FanStates">
        		<xsd:annotation>
        			<xsd:documentation>Enumeration of fan states.</xsd:documentation>
        		</xsd:annotation>
                <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="unknown"/>
                        <xsd:enumeration value="operational"/>
                        <xsd:enumeration value="nonOperational"/>
                        <xsd:enumeration value="na"/>
                </xsd:restriction>
        </xsd:simpleType>
    <xsd:complexType name="License">
        <xsd:annotation>
            <xsd:documentation>This represent the license level configuration.; Version : EXOS 12.0, Access : GET</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:ExosBase">
                <xsd:sequence>
                    <xsd:element name="swLicenseLevel" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Software license level of the switch; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="featurePackLicense" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Enabled feature pack(s); Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                </xsd:sequence>
                <xsd:attribute ref="common:operation"/>
                <xsd:anyAttribute namespace="##any" processContents="lax"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
        <!--<xsd:complexType name="FanSpeedInfo">
        <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
            
            <xsd:documentation>Enabled feature pack(s); Version : EXOS 12.0, Access : READ</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:ExosBase">
                <xsd:sequence>
                    <xsd:element name="fanName"  type="common:StringLen256" >
                    </xsd:element>
                    <xsd:element name="speed"  type="common:StringLen256" >
                    </xsd:element>
                    <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                </xsd:sequence>
                <xsd:attribute ref="common:operation"/>
                <xsd:anyAttribute namespace="##any" processContents="lax"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>-->

    <xsd:complexType name="PowerSupply">
        <xsd:annotation>
            <xsd:documentation>Power supply unit (PSU); Version : EXOS 12.0, Access : GET </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:ExosBase">
                <xsd:sequence>
                    <xsd:element name="psNumber" type="common:uint8_t" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Serial number.; Version : EXOS 12.0, Access : READ,INDEX</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="partInfo" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Part info.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="state" type="HW_States" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>State; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="revision" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Revision; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="odometer" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Odometer reading.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="temperature" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Temperature (in Celcius).; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <!--<xsd:element name="fansSpeed" type="common:StringLen256" minOccurs="0" maxOccurs="256">
                        <xsd:annotation>
                            <xsd:documentation>The unit is RPM; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>-->
                    <xsd:element name="outputVoltages" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Output voltage (in volts).; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="inputVoltage" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Input voltage (in volts).; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fanSpeed" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Fan speed (in revolutions per minute).; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                </xsd:sequence>
                <xsd:attribute ref="common:operation"/>
                <xsd:anyAttribute namespace="##any" processContents="lax"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Fan">
        <xsd:annotation>
            <xsd:documentation>Fan tray.; Version : EXOS 12.0, Access : GET </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:ExosBase">
                <xsd:sequence>
                    <xsd:element name="fanNumber" type="common:uint8_t" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Serial number.; Version : EXOS 12.0, Access : READ,INDEX</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="partInfo" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Part info.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="state" type="FanStates" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>State.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <!--<xsd:element name="noOfFans" type="common:uint8_t" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Number of fans in the tray.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>-->
                    <xsd:element name="revision" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Revision; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="odometer" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Odometer reading.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="speed" type="common:uint32_t" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Fan speed (in rpm).; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    
                    <!--xsd:element name="upperFanSpeed" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>The unit is in RPM.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="lowerFanSpeed" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>The unit is in RPM.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>-->
                    <xsd:element name="temperature" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Temperature (in Celsius).; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="location" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>The location of the fan; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                </xsd:sequence>
                <xsd:attribute ref="common:operation"/>
                <xsd:anyAttribute namespace="##any" processContents="lax"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
<!--    <xsd:complexType name="Fan">
        <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
              <internalObject>fan_info</internalObject>
              <module>dm</module>
            <xsd:documentation>The location of the fan; Version : EXOS 12.0, Access : GET</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:ExosBase">
                <xsd:sequence>
                    <xsd:element name="fans" type="FansTrayInfo" minOccurs="0" maxOccurs="256">
                                                <xsd:annotation>
                                                        <xsd:documentation>; Version : EXOS 12.0, Access : GET</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>

                    <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                </xsd:sequence>
                <xsd:attribute ref="common:operation"/>
                <xsd:anyAttribute namespace="##any" processContents="lax"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>-->
    <!--<xsd:complexType name="PowerSupply">
        <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
                   <internalObject>ps_info</internalObject>
               <module>dm</module>
            <xsd:documentation>; Version : EXOS 12.0, Access : GET</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:ExosBase">
                <xsd:sequence>
                    <xsd:element name="powerSupplyInfo" type="PowerSupplyInfo" minOccurs="0" maxOccurs="256">
                        <xsd:annotation>
                            <xsd:documentation/>
                            <xsd:appinfo>
                                <variable/>
                            <xsd:documentation>; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                </xsd:sequence>
                <xsd:attribute ref="common:operation"/>
                <xsd:anyAttribute namespace="##any" processContents="lax"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>-->
    <xsd:complexType name="ConfigurationInfo">
        <xsd:annotation>
            <xsd:documentation>Switch configuration information; Version : EXOS 12.0, Access : READ</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:ExosBase">
                <xsd:sequence>
                    <xsd:element name="selectedConfig" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Selected configuration.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bootedConfig" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Booted configuration.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                </xsd:sequence>
                <xsd:attribute ref="common:operation"/>
                <xsd:anyAttribute namespace="##any" processContents="lax"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ImageInfo">
        <xsd:annotation>
        	<xsd:documentation>Switch image information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:ExosBase">
                <xsd:sequence>
                    <xsd:element name="primaryImage" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Primary image version.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="secondaryImage" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Secondary image version.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="imageSelected" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Selected image.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="imageBooted" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Booted image.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                </xsd:sequence>
                <xsd:attribute ref="common:operation"/>
                <xsd:anyAttribute namespace="##any" processContents="lax"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="SwitchInfo">
        <xsd:annotation>
            <xsd:documentation>Switch information.; Version : EXOS 12.0, Access : GET, SET</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:ExosBase">
                <xsd:sequence>
                    <xsd:element name="jumboFrameSize" type="common:uint32_t" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Jumbo frame size supported by switch.; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="banner" type="common:StringLen4K" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Login banner.; Version : EXOS 12.0, Access : READ,WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="currentTime" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Current time on the switch.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bootTime" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Boot time of the switch.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="scheduleBootTime" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Next scheduled boot time.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="macAddress" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>MAC address of the switch.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bootCount" type="common:uint32_t" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Number of times switch has been booted.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="saveConfig" type="common:YesNo" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
							Action to save configuration. When set to true, the running configuration 
							of the switch is saved to the disk. 
							; Version : EXOS 12.0, Access : WRITE</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="masterCard" type="common:StringLen32" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Master card.; Version : EXOS 12.0, Access : READ </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="backupCard" type="common:StringLen32" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Backup card.; Version : EXOS 12.0, Access : READ </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="swVersion" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Software version.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                </xsd:sequence>
                <xsd:attribute ref="common:operation"/>
                <xsd:anyAttribute namespace="##any" processContents="lax"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <!--xsd:complexType name="FRUs">
        <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo>
                <internalObject>There is no clear mapping for this object. All the information in show_switch function in devcli.c file of dm process</internalObject>
                <module>dm</module>
                <concrete>
                </concrete>
            <xsd:documentation>Software version.; Version : EXOS 12.0, Access : GET</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:ExosBase">
                <xsd:sequence>
                    <xsd:element name="name" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation/>
                            <xsd:appinfo>
                                <variable/>
                            <xsd:documentation>Software version.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="type" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation/>
                            <xsd:appinfo>
                                <variable/>
                            <xsd:documentation>Software version.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="revision" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation/>
                            <xsd:appinfo>
                                <variable/>
                            <xsd:documentation>Software version.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    
                    <xsd:element name="serialNumber" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>A collection of numbers and letters that make up the serial number of the switch and when applicable the hardware components installed in a modular switch.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="partNumber" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>A collection of numbers and letters that make up the part number of the switch and when applicable the hardware components installed in a modular switch.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    
                    <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                </xsd:sequence>
                <xsd:attribute ref="common:operation"/>
                <xsd:anyAttribute namespace="##any" processContents="lax"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType-->
    <xsd:complexType name="Odometer">
        <xsd:annotation>
        	<xsd:documentation>Odometer information about a unit.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:ExosBase">
                <xsd:sequence>
                    <xsd:element name="serviceStartDate" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Date when the unit was powered-up.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="serviceDays" type="common:uint32_t" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Number of days that the unit has been running.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                </xsd:sequence>
                <xsd:attribute ref="common:operation"/>
                <xsd:anyAttribute namespace="##any" processContents="lax"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="SlotInfo">
        <xsd:annotation>
            <xsd:documentation>Slot information.; Version : EXOS 12.0, Access : GET</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:ExosBase">
                <xsd:sequence>
                    <xsd:element name="slotNumber" type="common:uint8_t" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Slot number.; Version : EXOS 12.0, Access : READ, INDEX</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nameOfHw" type="common:StringLen32" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Card name.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="cardType" type="common:StringLen32" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Card type.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="configuredCardType" type="common:StringLen32" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Configured card type.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="cardState" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Card state.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nodeState" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Node state.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="swVersion" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Software version.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="swBuild" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Software build.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numberOfPorts" type="common:uint16_t" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Number of ports on the card.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="serialNumber" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Serial number of the card.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="flags" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>This provides the various states and options of the slot 
							in a concise format. Please refer the "Concepts Guide" and 
							"Command Reference" for a detailed explaination of the format for the flags.
							; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="lastError" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Last error on the card.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="selectedConfig" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Selected configuration.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <!--xsd:element name="recoveryMode" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>recovery mode; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element
                    <xsd:element name="configInfo" type="ConfigurationInfo" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Configuration image; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>-->
                    <xsd:element name="imageInfo" type="ImageInfo" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Image information.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                   <!-- <xsd:element name="uControllerFWVersion" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Not Supported : The micro controller firmware version currently running on the module (BlackDiamond 12804 switch only).; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fpgaVersion" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Not Supported : The field-programmable gate array firmware version currently running on the module (BlackDiamond 12804 switch only).; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>-->
                    <xsd:element name="temperature" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Temperature (in Celcius).; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                  <!--  <xsd:element name="temperatureStatus" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>temperature status. ; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="imgVersion" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Specifies the display of installed images.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>-->
                    <xsd:element name="bootRom" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Boot ROM version.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="odometer" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Odometer reading.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                </xsd:sequence>
                <xsd:attribute ref="common:operation"/>
                <xsd:anyAttribute namespace="##any" processContents="lax"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    
    <xsd:complexType name="EntPhysicalEntry">
        <xsd:annotation>
            <xsd:documentation>
			Represents a physical entity. This is modelled similar to the entPhysicalEntry defined 
			in ENTITY-MIB (RFC 2737)
			; Version : EXOS 12.0, Access : GET</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:ExosBase">
                <xsd:sequence>
                
                    <xsd:element name="entPhysicalIndex" type="common:uint8_t" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>The index for this entry.; Version : EXOS 12.0, Access : READ, INDEX</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    
                    <xsd:element name="entPhysicalDescr" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Description of the physical entity.; Version : EXOS 12.0, Access : READ </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    
                    <xsd:element name="entPhysicalVendorType" type="common:StringLen1K" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
							Type of the physical entity.
							; Version : EXOS 12.0, Access : READ </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    
                        <xsd:element name="entPhysicalContainedIn" type="common:uint32_t" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>The value of entPhysicalIndex for the physical entity which 
							`'contains' this physical entity. A value of zero indicates this physical entity 
							is not contained in any other physical entity.; Version : EXOS 12.0, Access : READ </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    
                    <xsd:element name="entPhysicalClass" type="EntityType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>An indication of the general hardware type of the physical entity.
							; Version : EXOS 12.0, Access : READ </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    
                    <xsd:element name="entPhysicalParentRelPos" type="common:uint32_t" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
							An indication of the relative position of this 'child' component among all its 
							'sibling' components. Sibling components are defined as entPhysicalEntries which 
							share the same instance values of each of the entPhysicalContainedIn and entPhysicalClass 
							objects.  
							; Version : EXOS 12.0, Access : READ </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    
                    <xsd:element name="entPhysicalName" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
							Name of the physical entity.  
							; Version : EXOS 12.0, Access : READ </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    
                        <xsd:element name="entPhysicalHardwareRev" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
							Hardware revision. 
							; Version : EXOS 12.0, Access : READ </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    
                    <xsd:element name="entPhysicalFirmwareRev" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
							Firmware revision.
							; Version : EXOS 12.0, Access : READ </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    
                    <xsd:element name="entPhysicalSoftwareRev" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
							Software revision.
							; Version : EXOS 12.0, Access : READ </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    
                        <xsd:element name="entPhysicalSerialNum" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
							Serial number.
							; Version : EXOS 12.0, Access : READ </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    
                    <xsd:element name="entPhysicalMfgName" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
							Manufacturer name. 
							; Version : EXOS 12.0, Access : READ </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    
                        <xsd:element name="entPhysicalModelName" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
							Model name.
							; Version : EXOS 12.0, Access : READ </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    
                    
                    <xsd:element name="entPhysicalAlias" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
							Alias name.
							; Version : EXOS 12.0, Access : READ </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    
                    <xsd:element name="entPhysicalAssetID" type="common:StringLen256" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
							Asset id.
							; Version : EXOS 12.0, Access : READ </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    
                        <xsd:element name="entPhysicalIsFRU" type="common:YesNo" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
							Indicates whether entity is field replaceable.
							; Version : EXOS 12.0, Access : READ </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    
                    <xsd:element name="entPhysicalState" type="HW_States" minOccurs="0">
                       <xsd:annotation>
                          <xsd:documentation>State of the entity.; Version : EXOS 12.0, Access : READ </xsd:documentation>
                       </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="entPhysicalOdometer" type="common:StringLen256" minOccurs="0">
                       <xsd:annotation>
                          <xsd:documentation>Odometer reading.; Version : EXOS 12.0, Access : READ </xsd:documentation>
                       </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="entPhysicalTemperature" type="common:StringLen256" minOccurs="0">
                       <xsd:annotation>
                          <xsd:documentation>Temperature.; Version : EXOS 12.0, Access : READ </xsd:documentation>
                       </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                </xsd:sequence>
                <xsd:attribute ref="common:operation"/>
                <xsd:anyAttribute namespace="##any" processContents="lax"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

                <xsd:complexType name="StackPort">
                <xsd:annotation>
                        <xsd:documentation>Stack port information.; Version : EXOS 12.0, Access : GET</xsd:documentation>
                </xsd:annotation>
                <xsd:complexContent>
                        <xsd:extension base="common:ExosBase">
                                <xsd:sequence>
                                
                                        <xsd:element name="linkState" type="PortStates" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>Link state.; Version : EXOS 12.0, Access : GET</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>

                                        <xsd:element name="blockedState" type="common:BlockedStates" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>Blocked state; Version : EXOS 12.0, Access : GET</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        
                                        <xsd:element name="controlPathState" type="common:ActiveStates" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>Control path state.; Version : EXOS 12.0, Access : GET</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        
                                </xsd:sequence>
                                <xsd:attribute ref="common:operation"/>
                                <xsd:anyAttribute namespace="##any" processContents="lax"/>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>

        <xsd:complexType name="StackNodeTopology">
                <xsd:annotation>
                        <xsd:documentation>Stack node topology.; Version : EXOS 12.0, Access : GET</xsd:documentation>
                </xsd:annotation>
                <xsd:complexContent>
                        <xsd:extension base="common:ExosBase">
                                <xsd:sequence>
                                        <xsd:element name="slotNumber" type="common:uint8_t" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>Slot number.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="macAddress" type="common:StringLen64" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>MAC address of the node.; Version : EXOS 12.0, Access : READ,INDEX</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="portNumber" type="common:uint8_t" minOccurs="0" maxOccurs="2">
                                                <xsd:annotation>
                                                        <xsd:documentation>Port number.; Version : EXOS 12.0, Access : READ,INDEX</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                       <!-- 
                                        <xsd:element name="flags" type="common:StringLen64" minOccurs="0" >
                                                <xsd:annotation>
                                                        <xsd:documentation>flags; Version :  12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        -->
                                        <xsd:element name="controlPathState" type="common:ActiveStates" minOccurs="0" >
                                                <xsd:annotation>
                                                        <xsd:documentation>Control path state.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>

                                        <xsd:element name="blockedState" type="common:BlockedStates" minOccurs="0" >
                                                <xsd:annotation>
                                                        <xsd:documentation>Blocked state.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        
                                        <xsd:element name="linkState" type="PortStates" minOccurs="0" >
                                                <xsd:annotation>
                                                        <xsd:documentation>Link state.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="stackTopologyType" type="Topologies" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>Stack topology type.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="activeTopologyType" type="Topologies" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>Active topology type.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                <!--        <xsd:element name="isInActiveTopology" type="common:TrueFalse" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>Host is present in Active Topology; Version :  12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="isMaster" type="common:TrueFalse" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>Host is present in Active Topology; Version :  12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element> -->
                                </xsd:sequence>
                                <xsd:attribute ref="common:operation"/>
                                <xsd:anyAttribute namespace="##any" processContents="lax"/>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>

        <xsd:complexType name="StackNode">
                <xsd:annotation>
                        <xsd:documentation>Stacking node; Version : EXOS 12.0, Access : GET</xsd:documentation>
                </xsd:annotation>
                <xsd:complexContent>
                        <xsd:extension base="common:ExosBase">
                                <xsd:sequence>
                                        <xsd:element name="slotNumber" type="common:uint8_t" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>Slot number.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        
                                        <xsd:element name="macAddress" type="common:StringLen32" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>MAC address of the switch.; Version : EXOS 12.0, Access : READ, INDEX</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        
                                        <xsd:element name="state" type="common:NodeStates" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>Node state.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        
                                        <xsd:element name="role" type="common:NodeRoles" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>Node role.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        
                                        <xsd:element name="alternateIP" type="common:IPAddress" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>Alternate IP address for the node.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        
                                        
                                        <xsd:element name="alternateGateway" type="common:IPAddress" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>Alternate gateway IP address for the node.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        
                                        <xsd:element name="switchLicense" type="common:LicenseLevel" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>License level.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        <!--xsd:element name="restrictedLicense" type="common:LicenseLevel" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>; Version : 12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element-->
                                        <xsd:element name="activeFlag" type="common:ActiveStates" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>Active state.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="candidateFlag" type="common:TrueFalse" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>Candidate flag.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="otherFlag" type="common:TrueFalse" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>Indicates whether candidate for another 
														active topology.
														; Version : EXOS 12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                      
                                        
                                        <xsd:element name="priority" type="common:uint32_t" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>Priority of the node.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        
                                        <xsd:element name="activeTopologyEnabled" type="common:YesNo" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>Indicates whether enabled in active topology.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        
                                        <xsd:element name="isMasterCapable" type="common:YesNo" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>Indicates whether node is capable of 
														becoming a master.
														; Version : EXOS 12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        
                                        <xsd:element name="masterCapableAfterReboot" type="common:YesNo" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>Indicates whether node will be master capable after reboot.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        
                                        <xsd:element name="stackingEnabled" type="common:YesNo" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>Indicates whether stacking is enabled.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        
                                        <xsd:element name="configSlot" type="common:uint8_t" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>Configured slot number.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        
                                        <xsd:element name="stackingMacAddress" type="common:StringLen32" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>Configured MAC address.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        
                                                                
                                        <xsd:element name="stackPort1" type="StackPort" minOccurs="0" maxOccurs="2">
                                                <xsd:annotation>
                                                        <xsd:documentation>Status of first stack port.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="stackPort2" type="StackPort" minOccurs="0" maxOccurs="2">
                                                <xsd:annotation>
                                                        <xsd:documentation>Status of second stack port.; Version : EXOS 12.0, Access : READ</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        
                                        <xsd:element name="extension" type="common:ExtensionType" minOccurs="0"/>
                                        <xsd:any namespace="##other" processContents="lax" minOccurs="0"/>
                                </xsd:sequence>
                                <xsd:attribute ref="common:operation"/>
                                <xsd:anyAttribute namespace="##any" processContents="lax"/>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        
        
    <xsd:complexType name="objectList">
		<xsd:annotation>
			<xsd:documentation>(Internal Use)</xsd:documentation>
		</xsd:annotation>
        <xsd:sequence>
            <xsd:element name="moduleObject" type="AccessObject" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AccessObject">
		<xsd:annotation>
			<xsd:documentation>(Internal Use)</xsd:documentation>
		</xsd:annotation>
        <xsd:choice>
            <xsd:element name="entPhysicalEntry" type="EntPhysicalEntry"/>
            <xsd:element name="license" type="License"/>
            <xsd:element name="fan" type="Fan"/>
            <xsd:element name="powerSupply" type="PowerSupply"/>
            <xsd:element name="slotInfo" type="SlotInfo"/>
            <xsd:element name="switchInfo" type="SwitchInfo"/>

            <xsd:element name="stackNodeTopology" type="StackNodeTopology"/>
            <xsd:element name="stackNode" type="StackNode"/>

        </xsd:choice>
    </xsd:complexType>
    <xsd:element name="getPortAccessObjectRequest">
		<xsd:annotation>
			<xsd:documentation>(Not Used)</xsd:documentation>
		</xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="profile" type="AccessObject"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getPortAccessObjectResponse">
		<xsd:annotation>
			<xsd:documentation>(Not Used)</xsd:documentation>
		</xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="profile" type="AccessObject"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    


    
</xsd:schema>
